@model (string coin1, string coin2)

<div class="coin-pairs-stats__exchanging-card" style="height: 425px;">
    <iframe id="iframe-widget" src="https://changenow.io/embeds/exchange-widget/v2/widget.html?from=@Model.coin1&horizontal=false&lang=en-US&link_id=e4e6bf0d16d712&to=@Model.coin2&toTheMoon=true" style="height: 356px; width: 100%; border: none"></iframe>
    @*<script defer src="https://changenow.io/embeds/exchange-widget/v2/stepper-connector.js"></script>*@
</div>