<div class="home_widget">
    <div>
        <div class="widget_root" style="border-radius: 16px;">
            <span class="widget_wrapper">
                <span mode="out-in">
                    <span class="widget_heading">
                        <span class="widget_part">
                            <span class="widget_circleWrapper">
                                <svg width="32" height="28" viewBox="11.994 2.218 16.759 27.5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0)">
                                        <path d="M27.8107 13.5054C27.8933 13.3721 27.7975 13.2 27.6407 13.2H21.9784C21.8582 13.2 21.7651 13.0947 21.7799 12.9754L23.0283 2.90555C23.0546 2.69264 22.7728 2.59322 22.6598 2.77558L12.9166 18.4946C12.834 18.6279 12.9298 18.8 13.0866 18.8H18.7489C18.8691 18.8 18.9622 18.9053 18.9474 19.0246L17.6991 29.0944C17.6727 29.3074 17.9545 29.4068 18.0675 29.2244L27.8107 13.5054Z" style="fill: rgb(0, 0, 0);"></path>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0">
                                            <rect width="37.65" height="32" fill="white"></rect>
                                        </clipPath>
                                    </defs>
                                </svg>
                            </span>
                            <!----> <!----> <!----> <!----> <!---->
                        </span>
                        <span class="dc-home-exchange-widget-title">
                            Start exchange
                            <!---->
                        </span>
                        <span class="widget_part">
                            <!----> 
                            <span class="widget_menuWrapper">
                            <span class="widget_menu widget_menu--bars">
                            <span class="widget_menuBar"></span>
                            <span class="widget_menuBar"></span>
                            <span class="widget_menuBar"></span>
                            </span>
                            </span>
                        </span>
                    </span>
                    <span class="widget_stepper">
                        <span data-v-7da7a879="" class="stepper_root">
                            <span data-v-7da7a879="" class="stepper_wrapper">
                                <span data-v-7da7a879="" class="stepper_item stepper_item--active">
                                    <!----> <!---->
                                    details
                                </span>
                                <span data-v-7da7a879="" class="stepper_item">
                                    <!----> <!---->
                                    deposit
                                </span>
                                <span data-v-7da7a879="" class="stepper_item">
                                    <!----> <!---->
                                    exchanging
                                </span>
                                <span data-v-7da7a879="" class="stepper_item">
                                    <!----> <!---->
                                    completed
                                </span>
                            </span>
                        </span>
                    </span>
                </span>
                <span class="widget_content">
                    <span mode="out-in">
                        <span class="widget_spinnerWrapper fade-leave-active fade-leave-to">
                            <span class="md-progress-spinner widget_spinner md-progress-spinner-indeterminate md-indeterminate md-theme-default">
                                <svg preserveAspectRatio="xMidYMid meet" focusable="false" viewBox="0 0 60 60" class="md-progress-spinner-draw" style="width: 60px; height: 60px;">
                                    <circle cx="50%" cy="50%" r="28.5" class="md-progress-spinner-circle" style="stroke-dasharray: 179.071px; stroke-width: 3px; --md-progress-spinner-start-value:170.117; --md-progress-spinner-end-value:35.8142;"></circle>
                                </svg>
                            </span>
                        </span>
                        <span class="widget_steps fade-enter-active fade-enter-to">
                            <span class="dc-span-from-div">
                                <span data-v-690fd2a8="" class="exchange-start_root">
                                    <span data-v-690fd2a8="" class="exchange-start_content">
                                        <span data-v-690fd2a8="" class="exchange-start_row">
                                            <span data-v-8cf84b20="" data-v-690fd2a8="" class="toggler_root">
                                                <span data-v-8cf84b20="" class="toggler_wrapper">
                                                    <span data-v-8cf84b20="" class="toggler_item toggler_item--active">
                                                        <svg data-v-8cf84b20="" width="15" height="4" viewBox="0 0 15 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M10.8333 0.666992H13.5V3.33366" fill="#05051f"></path>
                                                            <path d="M10.8333 0.666992H13.5V3.33366" stroke="#05051f" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                                                            <path d="M1.5 2.00005C2.09133 1.14405 3.15333 0.644713 4.16667 0.666713C5.18 0.644713 6.242 1.14405 6.83333 2.00005C7.42467 2.85605 8.48667 3.35538 9.5 3.33338C10.5133 3.35538 11.5 2.66671 12.1667 2.00005L13.5 0.666713" stroke="#05051f" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                                                        </svg>
                                                        Floating
                                                    </span>
                                                    <span data-v-8cf84b20="" class="toggler_item">
                                                        <svg data-v-8cf84b20="" width="11" height="14" viewBox="0 0 11 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M5.49999 0.333008C3.66199 0.333008 2.16666 1.82834 2.16666 3.66634V5.66634H1.49999C0.764656 5.66634 0.166656 6.26434 0.166656 6.99967V12.333C0.166656 13.0683 0.764656 13.6663 1.49999 13.6663H9.49999C10.2353 13.6663 10.8333 13.0683 10.8333 12.333V6.99967C10.8333 6.26434 10.2353 5.66634 9.49999 5.66634H8.83332V3.66634C8.83332 1.82834 7.33799 0.333008 5.49999 0.333008ZM9.49999 6.99967L9.50132 12.333H1.49999V6.99967H9.49999ZM3.49999 5.66634V3.66634C3.49999 2.56367 4.39732 1.66634 5.49999 1.66634C6.60266 1.66634 7.49999 2.56367 7.49999 3.66634V5.66634H3.49999Z" fill="#8989A3"></path>
                                                            <path d="M9.49999 6.99967L9.50132 12.333H1.49999V6.99967H9.49999Z" fill="#8989A3"></path>
                                                        </svg>
                                                        Fixed
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                        <span data-v-690fd2a8="" class="exchange-start_inputs">
                                            <span data-v-690fd2a8="" class="exchange-input">
                                                <span class="exchange-input_container">
                                                    <span class="exchange-input_wrapper">
                                                        <label for="amount" class="exchange-input_label">
                                                            You send
                                                            <!---->
                                                        </label>
                                                        <!----> <input type="text" name="amount" pattern="^[0-9\.]*$" inputmode="decimal" autocomplete="off" class="exchange-input_input exchange-input_input--amount exchange-input_input--BTC"> <!---->
                                                    </span>
                                                    <span data-v-16bd2371="" data-v-690fd2a8="" class="currency-select-imitator exchange-input_currency-select">
                                                        <span data-v-16bd2371="" class="currency-select-imitator_container">
                                                            <span data-v-7ccaae6c="" data-v-16bd2371="" class="crypto-coin currency-select-imitator_coin-icon" style="height: 24px; width: 24px;"><span data-v-7ccaae6c="" class="crypto-coin_dummy-icon" style="background-image: url(&quot;/_nuxt/img/BTC.c67ac2e.svg&quot;);"></span></span> 
                                                            <span data-v-16bd2371="" class="currency-select-imitator_row">
                                                                <span data-v-16bd2371="" class="currency-select-imitator_code currency-select-imitator_code--BTC">
                                                                BTC
                                                                </span>
                                                                <!---->
                                                            </span>
                                                            <span data-v-16bd2371="" class="currency-select-imitator_chevron"></span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                            <span data-v-690fd2a8="" class="roundCircleArrowsBtn exchange-start_swap-btn">
                                                <span class="roundCircleArrowsBtn_container">
                                                    <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="roundCircleArrowsBtn_icon">
                                                        <path d="M12.9875 3.2625L10.895 5.355C10.655 5.595 10.82 6 11.1575 6H12.5C12.5 8.4825 10.4825 10.5 7.99999 10.5C7.40749 10.5 6.82999 10.3875 6.31249 10.17C6.04249 10.0575 5.73499 10.14 5.53249 10.3425C5.14999 10.725 5.28499 11.37 5.78749 11.5725C6.46999 11.85 7.21999 12 7.99999 12C11.315 12 14 9.315 14 6H15.3425C15.68 6 15.845 5.595 15.605 5.3625L13.5125 3.27C13.37 3.12 13.13 3.12 12.9875 3.2625ZM3.49999 6C3.49999 3.5175 5.51749 1.5 7.99999 1.5C8.59249 1.5 9.16999 1.6125 9.68749 1.83C9.95749 1.9425 10.265 1.86 10.4675 1.6575C10.85 1.275 10.715 0.63 10.2125 0.4275C9.52999 0.15 8.77999 0 7.99999 0C4.68499 0 1.99999 2.685 1.99999 6H0.657492C0.319992 6 0.154992 6.405 0.394992 6.6375L2.48749 8.73C2.63749 8.88 2.86999 8.88 3.01999 8.73L5.11249 6.6375C5.34499 6.405 5.17999 6 4.84249 6H3.49999Z" fill="white"></path>
                                                    </svg>
                                                </span>
                                            </span>
                                        </span>
                                        <span data-v-690fd2a8="" class="exchange-start_inputs">
                                            <span data-v-690fd2a8="" class="exchange-input exchange-start_resulting-input">
                                                <span class="exchange-input_container">
                                                    <span class="exchange-input_wrapper noBorder">
                                                        <label for="resultingAmount" class="exchange-input_label">
                                                            You get
                                                            <!---->
                                                        </label>
                                                        <span class="exchange-input_appendIcon">~</span> 
                                                        <input disabled="disabled" type="text" name="resultingAmount" pattern="^[0-9\.]*$" inputmode="decimal" autocomplete="off" class="exchange-input_input exchange-input_input--resultingAmount exchange-input_input--ETH"> <!---->
                                                    </span>
                                                    <span data-v-16bd2371="" data-v-690fd2a8="" class="currency-select-imitator exchange-input_currency-select">
                                                        <span data-v-16bd2371="" class="currency-select-imitator_container">
                                                            <span data-v-7ccaae6c="" data-v-16bd2371="" class="crypto-coin currency-select-imitator_coin-icon" style="height: 24px; width: 24px;"><span data-v-7ccaae6c="" class="crypto-coin_dummy-icon" style="background-image: url(&quot;/_nuxt/img/ETH.7cf244f.svg&quot;);"></span></span> 
                                                            <span data-v-16bd2371="" class="currency-select-imitator_row">
                                                                <span data-v-16bd2371="" class="currency-select-imitator_code currency-select-imitator_code--ETH">
                                                                ETH
                                                                </span>
                                                                <!---->
                                                            </span>
                                                            <span data-v-16bd2371="" class="currency-select-imitator_chevron"></span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                        <span data-v-690fd2a8="" class="dc-span-from-div">
                                            <span data-v-690fd2a8="" class="exchange-start_row exchange-start_row--fields">
                                                <span data-v-5fb88cd3="" data-v-690fd2a8="" class="md-field outline-input_root md-theme-default outline-input_root--hasLabel">
                                                    <label data-v-5fb88cd3="" for="md-input-olvsck4vq">Enter your ETH address</label> <!----> <input data-v-5fb88cd3="" type="text" id="md-input-olvsck4vq" name="dcdc" placeholder="" class="md-input"> 
                                                    <span data-v-5fb88cd3="">
                                                        <!---->
                                                    </span>
                                                    <!----> <!----> <!---->
                                                </span>
                                                <span data-v-690fd2a8="" class="exchange-start_error"></span>
                                            </span>
                                            <!----> 
                                            <span data-v-690fd2a8="" class="exchange-start_row exchange-start_row---space_between">
                                                <span data-v-690fd2a8="" class="addField_root">
                                                    <span class="addField_plus">+</span>
                                                    <span class="addField_fieldName">Promo code</span>
                                                    <span class="addField_divider"></span>
                                                    <!---->
                                                </span>
                                                <span data-v-690fd2a8="" class="addField_root">
                                                    <span class="addField_plus">+</span>
                                                    <span class="addField_fieldName">Refund address</span>
                                                    <span class="addField_divider"></span>
                                                    <!---->
                                                </span>
                                            </span>
                                            <!----> <!----> 
                                            <button data-v-690fd2a8="" class="exchange-start_btn default-btn_root default-btn_large default-btn_theme-main default-btn_fullWidth default-btn_animated" style="background-color: rgb(192, 240, 96); color: rgb(0, 0, 0);">
                                                <!---->  <span>Let's exchange</span>
                                            </button>
                                        </span>
                                    </span>
                                </span>
                                <!----> <!----> <!----> <!---->
                            </span>
                        </span>
                    </span>
                </span>
            </span>
            <!---->
        </div>
        <!---->
    </div>
</div>