@inject CBlocksHelperVM BlocksHelper
@model CCoinPairsVM
@{
    ViewData["Title"] = "CoinPairs Page";
}

<section class="dcg-section">
    <div class="container">
        <div class="row">
            <div class="col">
                @await Html.PartialAsync("_MarketCoinPairs", Model.pairs)
            </div>
        </div>
        <div class="row">
            <div class="col">
                @await Html.PartialAsync("_Pagination", BlocksHelper.GetPagination(Model.maxPage, Model.page))
            </div>
        </div>
    </div>
</section>

@section PageHead {
    @await Html.PartialAsync("_SubheaderCoinPairs", Model.PageHead)
}