@inject CBlocksHelperVM BlocksHelper
@model CCoinPairsVM
@{
    ViewData["Title"] = "CoinPairs Page";
}
@await Html.PartialAsync("_Breadcrumbs")
<h1>title</h1>
@*           small desc            *@
@await Html.PartialAsync("_CoinPairs")
@await Html.PartialAsync("_Pagination")