@model CCoinPairVM
@inject CBlocksHelperVM BlocksHelper
@{
    ViewData["Title"] = "CoinPair Page";
    //var similiar_pairs = BlocksHelper.GetPairList(Model.pair.data);
}
@await Html.PartialAsync("_Breadcrumbs")
<h1>title</h1>
@await Html.PartialAsync("_CoinWidget")
@await Html.PartialAsync("_ExchangeWidget")
@await Html.PartialAsync("_CoinPairInfo")
@await Html.PartialAsync("_GuideList")
@await Html.PartialAsync("_CoinPairs")
@await Html.PartialAsync("_Coins")
@await Html.PartialAsync("_TextBlocks")
@await Html.PartialAsync("_Faq")