@model CCoinVM

@{
ViewData["Title"] = "Coin Page";
}
<!DOCTYPE html>
<html data-n-head-ssr="" lang="en" data-n-head="%7B%22lang%22:%7B%22ssr%22:%22en%22%7D%7D">
    <head>
        <title>DODO to USD Exchange - Convert DODO to Dollar with letsexchnage.io</title>
        <meta data-n-head="ssr" charset="utf-8">
        <meta data-n-head="ssr" name="viewport" content="width=device-width, initial-scale=1">
        <meta data-n-head="ssr" data-hid="og:site_name" name="og:site_name" content="Letsexchange">
        <meta data-n-head="ssr" data-hid="apple-mobile-web-app-title" name="apple-mobile-web-app-title" content="Letsexchange">
        <meta data-n-head="ssr" name="msapplication-TileColor" content="#ffffff">
        <meta data-n-head="ssr" name="msapplication-TileImage" content="/mstile-144x144.png">
        <meta data-n-head="ssr" name="theme-color" content="#ffffff">
        <meta data-n-head="ssr" name="msapplication-square70x70logo" content="/mstile-70x70.png">
        <meta data-n-head="ssr" name="msapplication-square150x150logo" content="/mstile-150x150.png">
        <meta data-n-head="ssr" name="msapplication-wide310x150logo" content="/mstile-310x150.png">
        <meta data-n-head="ssr" name="msapplication-square310x310logo" content="/mstile-310x310.png">
        <meta data-n-head="ssr" data-hid="title" name="title" content="DODO to USD Exchange - Convert DODO to Dollar with letsexchnage.io">
        <meta data-n-head="ssr" data-hid="description" name="description" content="Exchange cryptocurrency instantly with the best exchange rates for BTC, ETH and other 250+ cryptocurrencies. Best rates and large volumes of currencies on Letsexchange.io. Try now!">

        <meta data-n-head="ssr" data-hid="og:title" name="og:title"
            content="DODO to USD Exchange - Convert DODO to Dollar with letsexchnage.io">
        <meta data-n-head="ssr" data-hid="twitter:title" name="twitter:title"
            content="DODO to USD Exchange - Convert DODO to Dollar with letsexchnage.io">
        <meta data-n-head="ssr" data-hid="og:description" name="og:description"
            content="DODO to USD Exchange rate for today on letsexchange.io ➤ Convert DODO to Dollar Fast and Safely.">
        <meta data-n-head="ssr" data-hid="twitter:description" name="twitter:description"
            content="DODO to USD Exchange rate for today on letsexchange.io ➤ Convert DODO to Dollar Fast and Safely.">
        <link data-n-head="ssr" rel="mask-icon" href="/safari-pinned-tab.svg">
        <link data-n-head="ssr" rel="apple-touch-icon" sizes="180x180" href="/custom/apple-touch-icon.png">
        <link data-n-head="ssr" rel="icon" type="image/x-icon" href="/favicon.ico?v=92893ade-490a-4725-b43f-fc69f96075ee">
        <link data-n-head="ssr" rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link data-n-head="ssr" rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link data-n-head="ssr" rel="canonical" href="https://letsexchange.io/custom/exchange-pairs/dodo/usd/info/">
        <link rel="stylesheet" type="text/css" href="/css/base.css?29189">
        <link rel="stylesheet" type="text/css" href="/css/theme.css?11487">
        <link rel="stylesheet" type="text/css" href="/css/letsexchange.css?31023">

        <!-- Google Tag Manager -->
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-PM4DDZM');
        </script>
        <!-- End Google Tag Manager -->

        @await Html.PartialAsync("_HeadHomeContent")
        <link rel="stylesheet" type="text/css" href="/css/dc-dop.css">
        <link rel="stylesheet" type="text/css" href="/css/media.css">

    </head>
    <body>

        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PM4DDZM"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->

        <div data-server-rendered="true" id="__nuxt">
            <div id="__layout">
                <div class="default-layout dc-default-layout">
                    @await Html.PartialAsync("_Header")
                    <main class="default-layout__content-wrapper">
                        <div class="container">
                            <nav itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList" class="breadcrumbs">
                                <ul class="breadcrumbs__list">
                                    <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"
                                        class="breadcrumbs__list-item">
                                        <a href="/" itemprop="item" class="nuxt-link-active breadcrumbs__list-item-link">
                                            <span>Home</span>
                                            <meta itemprop="name" content="Home">
                                            <meta itemprop="position" content="1">
                                        </a>
                                    </li>
                                    <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"
                                        class="breadcrumbs__list-item">
                                        <a href="/custom/exchange-pairs/" itemprop="item" class="nuxt-link-active breadcrumbs__list-item-link">
                                            <span>Cryptocurrency Exchange Pairs</span>
                                            <meta itemprop="name" content="Cryptocurrency Exchange Pairs">
                                            <meta itemprop="position" content="2">
                                        </a>
                                    </li>
                                    <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"
                                        class="breadcrumbs__list-item">
                                        <span itemprop="item" class="breadcrumbs__list-item-link breadcrumbs__list-item-link--active">
                                            <span>DODO to USD</span> 
                                            <meta itemprop="item" content="">
                                            <meta itemprop="name" content="DODO to USD">
                                            <meta itemprop="position" content="3">
                                        </span>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="coin-pair-details-page">
                            <div class="coin-pair-details-page__content">
                                <div class="container">
                                    <div class="coin-pairs-stats">
                                        <h1 class="coin-pairs-stats__title">
                                            <span class="coin-pair-display">
                                                <span class="coin-pair-display__icons">
                                                    <span class="coin-icon coin-pair-display__icons-item"
                                                        style="--size:44px;"><img
                                                        src="@Model.coin.data.image"
                                                        alt="@Model.coin.data.name-logo"></span> <span class="coin-icon coin-pair-display__icons-item"
                                                        style="--size:44px;"><img
                                                        src="https://cdn.jsdelivr.net/npm/cryptocurrency-icons@0.16.1/32/color/usd.png"
                                                        alt="USD-logo">
                                                    </span>
                                                </span>
                                                <span class="wrap">
                                                    <span class="coin-pair-display__text"><span>1</span> @Model.coin.data.name
                                                        /
                                                        <span class="coin-pair-display__text coin-pair-display__text--light">USD</span>
                                                    </span>
                                                </span>
                                                Exchange&nbsp;<span class="dc-coin-title">@Model.coin.data.name</span>&nbsp;to USD
                                            </span>
                                            
                                        </h1>
                                        <div class="coin-pairs-stats__flex"  style="padding-bottom: 20px">
                                            @await Html.PartialAsync("_GraphRates", Model.coin) @*GraphRates*@
                                            @await Html.PartialAsync("_CurrencyExchange", Model.coin)
                                        </div>
                                    </div>
                                    @await Html.PartialAsync("_CoinInfo", Model.coin) @*CoinInfo*@
                                    @await Html.PartialAsync("_CoinText") @*CoinText*@
                                    @await Html.PartialAsync("_CoinList", ((CBlocksHelperVM)ViewBag.Blocks).GetCoinList(10)) @*CoinList*@
                                    @await Html.PartialAsync("_CoinPairDetailsText") @*HowTo*@
                                    @await Html.PartialAsync("_Faq") @*Faq*@
                                </div>
                            </div>
                        </div>
                    </main>
                    @await Html.PartialAsync("_Footer")
                    <div class="scroll-to-top-btn" style="display:none;">
                        <button class="btn scroll-to-top-btn__btn">
                            <span class="btn__content"> 
                                <span
                                    class="btn__content-item"><i class="svg-icon scroll-to-top-btn__icon"></i>
                                </span> 
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>