@model CCoinVM
@inject CBlocksHelperVM BlocksHelper
@{
    ViewData["Title"] = "Coin Page";
    ViewData["Page"] = "coin";
}

<section class="dcg-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="dcg-h2 text-left m-0">Basic information about @Model.coin.data.name</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="dcg-desc-wrapper dcg-desc-wrapper_coin">
                    @{
                        string content = @"
                            <h3>Convert BTC to XMR</h3>
                            <p>
                                HitBTC is a platform for digital asset and currency exchange where you can quickly and securely trade Bitcoin, Ethereum, EOS, Tether and many other cryptocurrencies, Several trading options are present, including spot and OTC markets. The platform's interface is very intuitive and easy to navigate.
                            </p>
                            <p>
                                HitBTC is a global cryptocurrency trading platform established in 2013, offering fast and secure 24/7 exchange of XMR to ETH and many other digital assets.
                            </p>
                            <h3>XMR to ETH Real-Time Price Chart Explained</h3>
                            <p>
                                HitBTC features a price chart that combines a representation of a digital asset's Exponential Moving Average (EMA) with a candlestick visualization of its price history. The EMA consists of the two lines running across the chart that are formed using Monero's historical data when paired with Monero and represent XMR's performance for a given amount of time in terms of ETH. EMAS are among the most widely used methods (in the crypto sphere as well as the world of stocks) of measuring the way a cryptocurrency is trending.
                            </p>";
                        
                    }

                    @await Html.PartialAsync("_TextBlock", ("", content))
                </div>
            </div>
            <div class="col-4"> 
                @await Html.PartialAsync("_CoinInfo", Model)
            </div>
        </div>
    </div>
</section>

<section class="dcg-section">
    <div class="container">
        <div class="row">
            <div class="col">
                @await Html.PartialAsync("_CoinPairs")
            </div>
        </div>
    </div>
</section>

<section class="dcg-section">
    <div class="container">
        <div class="row">
            <div class="col">
                @await Html.PartialAsync("_Coins")
            </div>
        </div>
    </div>
</section>

<section class="dcg-section dcg-section_gray">
    <div class="container">
        <div class="row">
            <div class="col">
                @await Html.PartialAsync("_SectionTextBlocks", Model.TextBlocks)
            </div>
        </div>
    </div>
</section>

<section class="dcg-section">
    <div class="container">
        <div class="row">
            <div class="col">
                @await Html.PartialAsync("_SectionTextBlock", ("Frequently Asked Questions", "_Faq", (object)Model.Faq))
            </div>
        </div>
    </div>
</section>

@section PageHead {
    @await Html.PartialAsync("_SubheaderCoin", Model.coin.data.name)
}