@model CCoinVM
@inject CBlocksHelperVM BlocksHelper
@{
    ViewData["Title"] = "Coin Page";
    //var similiar_coins = BlocksHelper.GetCoinList(Model.coin.data);
}
@await Html.PartialAsync("_Breadcrumbs")
<h1>title</h1>
@await Html.PartialAsync("_CoinWidget")
@await Html.PartialAsync("_ExchangeWidget")
@await Html.PartialAsync("_CoinInfo")

@await Html.PartialAsync("_CoinPairs")
@await Html.PartialAsync("_Coins")
@await Html.PartialAsync("_TextBlocks")
@await Html.PartialAsync("_Faq")
