@model CCoinVM
@inject CBlocksHelperVM BlocksHelper
@{
    ViewData["Title"] = "Coin Page";
    ViewData["Page"] = "coin";
    Model.coin.data.name = Model.coin.data.name.ToUpper();
}

<section class="dcg-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="dcg-h2 text-left m-0">@Model.Description.title</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="dcg-desc-wrapper dcg-desc-wrapper_coin">
                    @await Html.PartialAsync("_TextBlock", ("", Model.Description.text))
                </div>
            </div>
            <div class="col-lg-4 col-md-12"> 
                @await Html.PartialAsync("_CoinInfo", Model)
            </div>
        </div>
    </div>
</section>

<section class="dcg-section">
    <div class="container">
        <div class="row">
            <div class="col">
                @await Html.PartialAsync("_CoinPairs", BlocksHelper.GetPairList(9))
            </div>
        </div>
    </div>
</section>

<section class="dcg-section">
    <div class="container">
        <div class="row">
            <div class="col">
                @await Html.PartialAsync("_Coins", BlocksHelper.GetCoinList(16))
            </div>
        </div>
    </div>
</section>

<section class="dcg-section dcg-section_gray">
    <div class="container">
        <div class="row">
            <div class="col">
                @await Html.PartialAsync("_SectionTextBlocks", Model.TextBlocks)
            </div>
        </div>
    </div>
</section>

<section class="dcg-section">
    <div class="container">
        <div class="row">
            <div class="col">
                @await Html.PartialAsync("_SectionTextBlock", ("Frequently Asked Questions", "_Faq", (object)Model.Faq))
            </div>
        </div>
    </div>
</section>

@section PageHead {
    @await Html.PartialAsync("_SubheaderCoin", (Model.PageHead, (Model.coin.data.name, "USD")))
}