@inject CBlocksHelperVM BlocksHelper
@model CCoinsVM
@{
    ViewData["Title"] = "Coins Page";
}
@await Html.PartialAsync("_Breadcrumbs")
<h1>title</h1>
@*           small desc            *@
@await Html.PartialAsync("_Coins")
@*@await Html.PartialAsync("_Pagination")*@