@inject CBlocksHelperVM BlocksHelper
@model CCoinsVM
@{
    ViewData["Title"] = Model.SeoInfo.title == "" ? "Coins Page" : Model.SeoInfo.title;
    ViewData["Description"] = Model.SeoInfo.text == "" ? "" : Model.SeoInfo.text;
}
<section class="dcg-section">
    <div class="container">
        <div class="row">
            <div class="col">
                @await Html.PartialAsync("_MarketCoins", Model.coins)
            </div>
        </div>
        <div class="row">
            <div class="col">
                @await Html.PartialAsync("_Pagination", BlocksHelper.GetPagination(Model.maxPage, Model.page))
            </div>
        </div>
    </div>
</section>

@section PageHead {
    @await Html.PartialAsync("_SubheaderCoins", Model.PageHead)
}