@inject CBlocksHelperVM BlocksHelper
@model CCoinsVM
@{
    ViewData["Title"] = "Coins Page";
}
<section class="dcg-section">
    <div class="container">
        <div class="row">
            <div class="col">
                @await Html.PartialAsync("_MarketCoins")
            </div>
        </div>
        <div class="row">
            <div class="col">
                @await Html.PartialAsync("_Pagination", BlocksHelper.GetPagination(Model.maxPage, Model.page))
            </div>
        </div>
    </div>
</section>

@section PageHead {
    @await Html.PartialAsync("_SubheaderCoins")
}