.dc-admin-container {
    width: 1200px;
    background: lightgray;
    padding: 20px;
    margin: auto;
}

.dc-admin-container h1 {
    text-align: center;
    margin-bottom: 50px;
}

.dc-meta-editor form {
    text-align: center;
    padding-right: 120px;
}

.dc-meta-editor label {
    display: inline-block;
    width: 120px;
    text-align: right;
}

.dc-meta-editor p {
    margin: 20px;
}

.dc-meta-editor input[type="submit"] {
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 120px;
}

.dc-meta-editor input[type="text"], .dc-meta-editor input[type="number"] {
    width: 50%;
}

.dc-meta-editor textarea {
    width: 50%;
    height: 20%;
}

.dc-meta-editor select {
    width: 50%;
    cursor: pointer;
}

.dc-meta-editor {
    margin-bottom: 50px;
}

.dc-admin-back {
    border: 1px solid black;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
    background: #fff;
    border-radius: 3px;
}

.dc-admin-menu {
    list-style: none;
    margin-bottom: 10px;
    text-align: center;
    padding: 0;
}

.dc-admin-menu li {
    border: 2px solid gray;
    display: inline-block;
    margin: 20px;
    font-weight: bold;
}

.dc-admin-menu li a {
    padding: 20px;
    text-decoration: none;
}
