mixin _classes ()
    .dc-classes
        .dc-classes__container
            h2.dcg-h2.dc-classes__container-headline Buttons
            h2.dcg-h2.dc-classes__container-list button, [type="button"], [type="submit"], [type="reset"], .ssg-button
            a(href="#").dcg-btn default
            a(href="#").dcg-btn.dcg-btn_light light
            a(href="#").dcg-btn.dcg-btn_color color
        .dc-classes__container 
            h2.dcg-h2.dc-classes__container-headline Inputs
            h2.dcg-h2.dc-classes__container-list [type="text"], [type="email"], [type="password"], textarea, select
            input(type="text" placeholder="default").dcg-input
            input(type="text" placeholder="light").dcg-input.dcg-input_light
            input(type="text" placeholder="color").dcg-input.dcg-input_color
            textarea.dcg-input.dcg-input_textarea textarea
        section.dcg-section
            .row
                .col-3
                    select
                        option Турция
                        option Египет
                        option США
                .col-3
                    input(type="text" data-type="date")
                .col-3
                    .dc-classes__checkbox-wrapper
                        label
                            input(type="checkbox" value="")
                            span checkbox-1
                        label
                            input(type="checkbox" value="")
                            span checkbox-2
                        label
                            input(type="checkbox" value="")
                            span checkbox-3
                        label
                .col-3
                    label
                        input(type="radio" name="radio")
                        span.dc-text radio-1
                    label
                        input(type="radio" name="radio")
                        span.dc-text radio-2
            .row
                .col-3
                    .dcj-slider-range
        section.dcg-section.dc-classes__section
            span "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        section.dcg-section.dcg-section_dark
            span "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        section.dcg-section.dcg-section_gray
            span "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        section.dcg-section.dcg-section_color
            span "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
