@using CryptoApi.Models.DB
@model CCoinPairsMetaDataM

<h1>CoinPairs meta</h1>
<div class="dc-meta-editor">
    @using (Html.BeginForm("CoinPairsMeta", "Admin", FormMethod.Post))
    {
        <p>
            <span>coin_pair_id: </span>
            @Html.Editor("coin_pair_id")
        </p>
        <p>
            <span>group: </span>
            @Html.Editor("group")
        </p>
        <p>
            <span>option: </span>
            @Html.Editor("option")
        </p>
        <p>
            <span>value: </span>
            @Html.Editor("value")
        </p>
        <p>
            <input type="submit" value="post"/>
        </p>
    }
</div>
<a asp-controller="Admin" asp-action="Index" class="dc-admin-back">>back</a>
