<h1>Admin main</h1>
<ul class="dc-admin-menu">
    <li>
        <a asp-controller="Admin" asp-action="CommonMeta">>Add Common Meta</a>
    </li>
    <li>
        <a asp-controller="Admin" asp-action="CoinPairsMeta">>Add CoinPairs Meta</a>
    </li>
    <li>
        <a asp-controller="Admin" asp-action="CoinsMeta">>Add Coins Meta</a>
    </li>
    <li>
        <a asp-controller="Home" asp-action="Index">>Home Page</a>
    </li>
</ul>