// /*.....................................*/
// /* TEMPLATE: about-small */
.dc-about-small {

    width: 80%;

    .dcg-h3 {
        color: #FFF;
        font-size: 20px;
    }

    &__content {
        color: #a0b6d8;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: -0.25px;
    }

    @include media-breakpoint-down (sm) {
    }
}

// /* /TEMPLATE: about-small */
// /*.....................................*/
