@{
    //@model IEnumerable<CTextBlockVM>
}
<div class="dc-about-small">
    <h3 class="dcg-h3">About Us</h3>
    <p class="dc-about-small__content">
        We are an independent development team. Our mission is to improve the user experience in crypto world. We see great potential in blockchain technology and want to contribute to its ecosystem.
    </p>
</div>
