// /*.....................................*/
// /* TEMPLATE: advantage */
.dc-advantage {
    padding: 10px;
    height: 220px;
    border-radius: 7px;

    &__image-wrapper {
        svg {
            width: 40px;
            height: 40px;
            fill: #3665ac;
        }
    }

    .dcg-h3 {
        margin-bottom: 12px;
        margin-top: 9px;
    }

    &__text {
        line-height: 1.5;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: advantage */
// /*.....................................*/
