<div class="dc-advantage">
    <div class="dc-advantage__image-wrapper">
        <svg icon="plus"></svg>
    </div>
    <h3 class="dcg-h3">title</h3>
    <p class="dc-advantage__text dc-advantage__text_dark">
        <a href="#">link</a>
    </p>
</div>