// /*.....................................*/
// /* TEMPLATE: advantages */
.dc-advantages {
    .dcg-h2 {
        padding-bottom: 0;
        margin-bottom: 7px;
    }

    &__desc {
        text-align: center;
        font-size: 20px;
        margin-bottom: 46px;
    }

    .dc-advantage {
        margin-top: 20px;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: advantages */
// /*.....................................*/
