// /*.....................................*/
// /* TEMPLATE: auth */
.dc-auth {
    padding-top: 3px;
    padding-left: 5px;
    width: max-content;

    .dcg-button_auth {
        border: 0;
        background: transparent;

        
        svg {
            color: #FFF;
            width: 20px;
            display: inline-block;
            height: 40px;
            padding-right: 5px;
            padding-bottom: 1px;
        }
    }


    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: auth */
// /*.....................................*/
