<div class="dc-benefits">
    <h2>The Service You Decerve</h2>
    <ul class="dc-benefits-list">
        @for(int i = 0; i < 4; i++)
        {
            <li>
                <div class="dc-benefits-item">
                    <img src="/custom/img/letsexchange/benefits_image.png">
                    <div class="dc-benefits-item-info">
                        <p>
                            <h3>Limitless Exchanges</h3>
                        </p>
                        <p>
                            <span>
                                You have all the freedom in the world - start with less than $2 in your favorite coin. You don't have to worry about any upper limits - swap as much crypto in one go as you want.
                            </span>
                        </p>
                        <p>
                            <a href="#">Find out more ></a>
                        </p>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
