// /*.....................................*/
// /* TEMPLATE: breadcrumbs */
.dc-breadcrumbs {
    padding-bottom: 22px;

    &__breadcrumb {
        display: inline-block;

        a, span {
            color: #CBCBCB;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0.2px;
        }
    }

    .dcg-icon-arrow-right {
        width: 17px;
        height: 17px;
        margin: 0px 10px 2px 10px;
    }

    @include media-breakpoint-down (md) {
        display: none;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: breadcrumbs */
// /*.....................................*/
