// /*.....................................*/
// /* TEMPLATE: breadcrumbs */
.dc-breadcrumbs {

    &__breadcrumb {
        display: inline-block;
        color: #CBCBCB;
        font-size: 14px;
        font-weight: 600;
    }

    .dcg-icon-arrow-right {
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: breadcrumbs */
// /*.....................................*/
