@model IEnumerable<(string title, string url)>

<div class="dc-breadcrumbs">
    <a asp-controller="Home" asp-action="Index" class="dc-breadcrumbs__breadcrumb">
        <span>Home</span>
    </a>

    @foreach (var item in Model)
    {
        if (item == Model.Last())
        {
            <span class="dc-breadcrumbs__breadcrumb">
                <svg icon="arrow-right-grey" class="dcg-icon-arrow-right"></svg>
                <span>
                    @item.title
                </span>
            </span>
        }
        else
        {
            <a href="@item.url" class="dc-breadcrumbs__breadcrumb">
                <svg icon="arrow-right-grey" class="dcg-icon-arrow-right"></svg>
                <span>
                    @item.title
                </span>
            </a>
        }
    }
</div>
