// /*.....................................*/
// /* TEMPLATE: coin-pairs */
.dc-coin-pairs {
    .dc-icon-arrow-right {
        width: 15px;
        height: 15px;
        margin-left: 0;
        margin-top: 17px;
    }

    .dc-grid__coin-pair {
        padding: 20px;
        border-radius: 7px;

        .dc-grid__coin-pair_head {
            display: flex;
            justify-content: space-between;

            .dc-grid__coin-pair-coin {
                display: flex;
                flex-direction: column;
                padding: 8px 7px;
                margin-bottom: 3px;

                .dc-grid__coin-pair-coin_head {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 8px;

                    img {
                        width: 30px;
                        height: 30px;
                    }

                    .dc-grid__coin-pair-coin_name {
                        font-size: 20px;
                        margin: 0 0 0 10px;
                    }
                }

                .dc-change-values {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }

        .dc-grid__coin-pair_value {
            display: inline-block;
            width: 100%;
            text-align: center;
        }
    }





    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: coin-pairs */
// /*.....................................*/
