// /*.....................................*/
// /* TEMPLATE: coin-widget */
.dc-coin-widget {
    text-align: center;

    &__wrapper {
        border-radius: 7px;
        overflow: hidden;
        height: 271px;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: coin-widget */
// /*.....................................*/
