// /*.....................................*/
// /* TEMPLATE: coins */
.dc-coins {
    .dc-icon-arrow-right {
        width: 15px;
        height: 15px;
        margin-left: 7px;
    }

    .dc-grid_coins {
        justify-content: space-between;
        padding-top: 9px;

        .dc-grid_coin {
            
        }
    }


    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: coins */
// /*.....................................*/
