@*@model CCoinDataVM*@

<a class="dc-coin dcg-shadow-hover" asp-controller="Coins" asp-action="Coin" asp-route-coin="btc">
    <img src="images/test-coin-image.png" alt="coin-image">
    <span class="dc-grid_coin-name">
        Bitcoin  (BTC)
    </span>
    <svg icon="arrow-right-dark" class="dc-icon-arrow-right"></svg>
</a>
