// /*.....................................*/
// /* TEMPLATE: coins */
.dc-coins {
    .dcg-h2 {
    }

    .dc-coin {
        width: 265px;
        min-height: 60px;
        margin-bottom: 10px;
        background: #fff;
        border-radius: 7px;
        margin-top: 0px !important;

        &__link {
            padding: 15px;
            position: relative;
            align-items: flex-start;
        }

        &:hover {
            .dcg-icon-arrow-right {
                display: inline-block;
            }
        }

        .dcg-h3 {
            padding-right: 20px;
            margin-top: 0 !important;
        }

        .dcg-icon-arrow-right {
            position: absolute;
            right: 15px;
            top: 25px;
        }
    }

    .dcg-icon-arrow-right {
        margin-left: 7px;
    }


    &__list {
        justify-content: space-between;
        padding-top: 8px;
    }

    @include media-breakpoint-down (md) {
        .dc-coin {
            width: auto;
            min-height: 85%;

            .dcg-icon-arrow-right {
                display: inline-block;
            }
        }
    }

    @include media-breakpoint-down (xs) {
        .dc-coin {
            min-height: 60px;
        }
    }
}
    // /* /TEMPLATE: coins */
    // /*.....................................*/
