<div class="pairs-preview" style="padding-bottom: 20px">
    <div class="card-title-with-btn">
        <div class="card-title-with-btn__text">
            Popular Versus
        </div>
    </div>
    <div class="pairs-preview__cards-wrap" style="flex-wrap: wrap">
        @for (int i = 0; i < 8; i++)
        {
            @await Html.PartialAsync("_CoinPairSketch")
        }
    </div>
</div>
