<div class="pair-card" style="padding-bottom: 10px; width: 20%">
    <div class="pair-card__content">
        <a href="/custom/exchange-pairs/dodo/aud/info/" class="nuxt-link-active pair-card__detail-link">
            <div class="pair-card__title">
                <div class="coin-pair-display">
                    <div class="coin-pair-display__icons coin-pair-display__icons--height">
                        <span
                            class="coin-icon coin-pair-display__icons-item coin-pair-display__icons-item--diagonal"
                            style="--size:32px;">
                            <img
                            src="https://cdn.jsdelivr.net/npm/cryptocurrency-icons@0.16.1/svg/black/generic.svg"
                            alt="dodo-logo">
                        </span> 
                        <span
                            class="coin-icon coin-pair-display__icons-item coin-pair-display__icons-item--diagonal"
                            style="--size:32px;">
                            <img
                            src="https://cdn.jsdelivr.net/npm/cryptocurrency-icons@0.16.1/svg/black/generic.svg"
                            alt="aud-logo">
                        </span>
                    </div>
                    <div class="wrap">
                        <div class="coin-pair-display__text coin-pair-display__text--bold">
                            <span>1</span> dodo
                            /
                            <span class="coin-pair-display__text coin-pair-display__text--grey coin-pair-display__text--light">
                                aud
                            </span></div>
                        <div class="coin-pair-display__text coin-pair-display__text--name">
                            <div class="subtitle"><span>DODO</span> / Australian Dollar
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <div class="pair-card__wrap">
            <div class="stats-info-secondary pair-card__stats">
                <div class="stats-info-secondary__flex">
                    <div class="stats-info-secondary__price">
                        Exchange DODO to AUD
                    </div>
                </div>
            </div>
            <a href="/custom/exchange-pairs/dodo/aud/info/" class="btn-link btn btn--link btn--block btn--depressed btn--primary pair-card__button">
                <span
                    class="btn__content">
                    Exchange
                </span>
            </a>
        </div>
    </div>
</div>
