// /*.....................................*/
// /* TEMPLATE: coin */
.dc-coin {
    width: 265px;
    height: 60px;
    margin-bottom: 10px;
    background: #fff;

    .dc-coin__link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }

    .dcg-icon-arrow-right {
        display: none;
        margin-right: 4px;
    }

    img {
        width: 30px;
        height: 30px;
    }

    .dcg-h3 {
        margin-right: auto;
        margin-left: 10px;
        margin-bottom: 0;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0;
    }

    &:hover {
        .dcg-icon-arrow-right {
            display: inline-block;
        }
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: coin */
// /*.....................................*/
