// /*.....................................*/
// /* TEMPLATE: coin-pair-info */
.dc-coin-pair-info {
    padding-bottom: 40px;

    table td:nth-child(3) {
        text-align: left !important;
    }

    table td:nth-child(2) {
        width: 130px;
    }

    table td:first-child {
        width: 185px;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: coin-pair-info */
// /*.....................................*/
