@model CCoinDataVM

<div class="dc-coin-info dc-coin-info-custom">
    <h2 class="dc-coin-info-title">@Model.data.name_full info</h2>
    <table class="dc-coin-info-table">
        <tbody>
            <tr>
                <th>
                    <div class="dc-coin-info-table-header">
                        Week
                    </div>
                </th>
                <th>
                    <div class="dc-coin-info-table-header">
                        Month
                    </div>
                </th>
                <th>
                    <div class="dc-coin-info-table-header">
                        Day
                    </div>
                </th>
                <th>
                    <div class="dc-coin-info-table-header">
                        Market Cap
                    </div>
                </th>
                <th>
                    <div class="dc-coin-info-table-header">
                        24h Change
                    </div>
                </th>
            </tr>
            <tr>
                <td>
                    <div class="dc-coin-info-table-value">
                        +3.81%
                    </div>
                </td>
                <td>
                    <div class="dc-coin-info-table-value">
                        +25.16%
                    </div>
                </td>
                <td>
                    <div class="dc-coin-info-table-value">
                        -1.67%
                    </div>
                </td>
                <td>
                    <div class="dc-coin-info-table-value">
                        $52.89B
                    </div>
                </td>
                <td>
                    <div class="dc-coin-info-table-value">
                        18.31
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
