@*@model IEnumerable<CCoinDataVM>*@

<div class="dc-coins">
    <div class="dcg-section__head">
        <h2 class="dcg-h2">Popular Crypto-Fiat Amounts</h2>
        <a asp-controller="Coins" asp-action="Index" class="dcg-btn dcg-btn_big">
            Find out more Amounts
            <svg icon="arrow-right-light" class="dc-icon-arrow-right"></svg>
        </a>
    </div>
    <ul class="dc-grid dc-grid_coins">
        @for(int i = 0; i < 16; i++)
        {
            <li>
                @await Html.PartialAsync("_Coin")
            </li>
        }
    </ul>
</div>

