<tr class="data-table__body-item">
    <td class="data-table__body-item-cell">
        <div class="data-table__body-item-cell-wrap data-table__body-item-cell-wrap--left data-table__body-item-cell-wrap--pair">
            <a href="/custom/exchange-pairs/micn/eur/info/" class="coin-pairs-table__link">
                <div class="coin-pair-display">
                    <div class="coin-pair-display__icons coin-pair-display__icons--height"><span
                        class="coin-icon coin-pair-display__icons-item coin-pair-display__icons-item--diagonal"
                        style="--size:32px;"><img
                        src=""
                        alt="MICN-logo"></span> <span
                        class="coin-icon coin-pair-display__icons-item coin-pair-display__icons-item--diagonal"
                        style="--size:32px;"><img
                        src="https://cdn.jsdelivr.net/npm/cryptocurrency-icons@0.16.1/32/color/eur.png"
                        alt="EUR-logo"></span></div>
                    <div class="wrap">
                        <div class="coin-pair-display__text coin-pair-display__text--bold">
                            <span>1</span> MICN
                            /
                            <span class="coin-pair-display__text coin-pair-display__text--grey coin-pair-display__text--light">EUR</span>
                        </div>
                        <div class="coin-pair-display__text coin-pair-display__text--name">
                            Mindexnew
                            /
                            Euro
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </td>
    <td class="data-table__body-item-cell">
        <div class="data-table__body-item-cell-wrap data-table__body-item-cell-wrap--right data-table__body-item-cell-wrap--lastPrice">
            <div class="dual-value-display">
                <div class="dual-value-display__text">
                    0.072318
                    <span>MICN</span>
                </div>
                <div class="dual-value-display__text dual-value-display__text--secondary">
                    3215.67
                    <span>EUR</span>
                </div>
            </div>
        </div>
    </td>
    <td class="data-table__body-item-cell">
        <div class="data-table__body-item-cell-wrap data-table__body-item-cell-wrap--right data-table__body-item-cell-wrap--changePerc">
            <div class="trend-badge"><i class="svg-icon caret-icon"></i>
                0.63%
            </div>
        </div>
    </td>
    <td class="data-table__body-item-cell">
        <div class="data-table__body-item-cell-wrap data-table__body-item-cell-wrap--right data-table__body-item-cell-wrap--high24h">
            <div class="dual-value-display">
                <div class="dual-value-display__text">
                    0.07704092
                    <span></span>
                </div>
                <div class="dual-value-display__text dual-value-display__text--secondary">
                    3252.03
                </div>
            </div>
        </div>
    </td>
    <td class="data-table__body-item-cell">
        <div class="data-table__body-item-cell-wrap data-table__body-item-cell-wrap--right data-table__body-item-cell-wrap--low24h">
            <div class="dual-value-display">
                <div class="dual-value-display__text">
                    0.07304092
                    <span></span>
                </div>
                <div class="dual-value-display__text dual-value-display__text--secondary">
                    3151.03
                </div>
            </div>
        </div>
    </td>
    <td class="data-table__body-item-cell">
        <div class="data-table__body-item-cell-wrap data-table__body-item-cell-wrap--right data-table__body-item-cell-wrap--cap">
            <div class="dual-value-display">
                <div class="dual-value-display__text">
                    377869595474
                    <span></span>
                </div>
            </div>
        </div>
    </td>
    <td class="data-table__body-item-cell">
        <div class="data-table__body-item-cell-wrap data-table__body-item-cell-wrap--right data-table__body-item-cell-wrap--btn">
            <a href="/custom/exchange-pairs/micn/eur/info/"
                class="btn-link btn btn--link btn--depressed btn--primary btn-exchange coin-pairs-table__btn">
                <span class="btn__content">
                    Exchange
                </span>
            </a>
        </div>
    </td>
</tr>