@using CryptoApi.Models.DB;
@*@model CCoinPairDataVM*@

<div class="dc-coin-pair">
    <div class="dc-coin-pair__wrapper dcg-shadow-hover">
        <div class="dc-coin-pair__head">
            <div class="dc-coin-pair__coin">
                <a asp-controller="Coins" asp-action="Coin" asp-route-coin="btc" class="dc-coin-pair__coin-head">
                    <img src="/images/test-coin-image.png" alt="coin-image">
                    <h4 class="dcg-h4">
                        BTC
                    </h4>
                </a>
                <span class="dcg-percent-change dcg-percent-change_neg">
                    <span class="dcg-value-down">-4,83%</span>
                </span>
            </div>
            <svg icon="arrow-right-dark" class="dcg-icon-arrow-right"></svg>
            <div class="dc-coin-pair__coin">
                <a asp-controller="Coins" asp-action="Coin" asp-route-coin="btc" class="dc-coin-pair__coin-head">
                    <img src="/images/test-coin-image.png" alt="coin-image">
                    <h4 class="dcg-h4"> 
                        ETH
                    </h4>
                </a>
                <span class="dcg-percent-change dcg-percent-change_pos">
                    <span class="dcg-value-up">+5,16%</span>
                </span>
            </div>
        </div>
        <span class="dc-coin-pair__value">
            1 BTC = 13.90605686 ETH
        </span>
        <a class="dcg-btn dcg-btn_small" asp-controller="CoinPairs" asp-action="Pair" asp-route-coin1="btc" asp-route-coin2="eth">
            <svg icon="exchange-cycle-light"></svg>
            <span>Exchange</span>
        </a>
    </div>
</div>