<div class="coins-table"  style="padding-bottom: 30px">
    <div class="data-table__wrap">
        <table class="data-table">
            <thead class="data-table__header">
                <tr class="data-table__header-items">
                    <th class="data-table__header-item data-table__header-item--pair" style="width:236px;">
                        <div class="data-table__header-item-wrap data-table__header-item-wrap--left">
                            <div class="header-title">
                                Coin Name
                            </div>
                        </div>
                    </th>
                    <th class="data-table__header-item data-table__header-item--lastPrice" style="width:200px;">
                        <div class="data-table__header-item-wrap data-table__header-item-wrap--right">
                            <div class="header-title">
                                Fiat purchase
                            </div>
                        </div>
                    </th>
                    <th class="data-table__header-item data-table__header-item--pointer data-table__header-item--changePerc" style="width:120px;">
                        <div class="data-table__header-item-wrap data-table__header-item-wrap--right">
                            <div class="data-table__header-item-icon"><i
                                    class="svg-icon data-table__sort-direction"></i></div>
                            <div class="header-title">
                                Fixed rate
                            </div>
                        </div>
                    </th>
                    <th class="data-table__header-item data-table__header-item--high24h" style="width:156px;">
                        <div class="data-table__header-item-wrap data-table__header-item-wrap--right">
                            <div class="header-title">
                                Available for exchange
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody class="data-table__body">
                @for (int i = 0; i < 20; i++)
                {
                    @await Html.PartialAsync("_CoinListSketch")
                }
            </tbody>
        </table>
    </div>
</div>
