@model IEnumerable<CCoinPairDataVM>

<div class="dc-coin-pairs">
    <div class="dcg-section__head">
        <h2 class="dcg-h2">Popular Coin Pairs</h2>
        <a asp-controller="CoinPairs" asp-action="Index" class="dcg-btn dcg-btn_big">
            View Full Pairs List
            <svg icon="arrow-right-light" class="dcg-icon-arrow-right"></svg>
        </a>
    </div>
    <div class="row">
        @foreach(var pair in Model)
        {
            <div class="col-3">
                @await Html.PartialAsync("_CoinPair", pair)
            </div>
        }
    </div>
</div>
