// /*.....................................*/
// /* TEMPLATE: coin-pair-info */
.dc-coin-pair-info {
    padding-bottom: 40px;

    table td:nth-child(3) {
        text-align: left !important;
    }

    table td:nth-child(2) {
        width: 130px;
    }

    table td:first-child {
        width: 185px;
    }

    table td ~ td {
        padding-left: 10px;
    }

    @include media-breakpoint-down (md) {
        margin-top: 20px;

        table td:nth-child(3), table td:nth-child(2), table td:first-child {
            width: max-content;
        }

        @include media-breakpoint-down (sm) {
            table td:nth-child(3) {
                text-align: right !important;
            }
        }
    }
}
// /* /TEMPLATE: coin-pair-info */
// /*.....................................*/
