@model IEnumerable<CCoinDataVM>

<div class="dc-coins">
    <div class="dcg-section__head">
        <h2 class="dcg-h2">Popular Crypto-Fiat Amounts</h2>
        <a asp-controller="Coins" asp-action="Index" class="dcg-btn dcg-btn_big">
            Find out more Amounts
            <svg icon="arrow-right-light" class="dcg-icon-arrow-right"></svg>
        </a>
    </div>
    <div class="dc-coins__list">
        <div class="row">
            @foreach(var coin in Model)
            {
                <div class="col-3">
                    @await Html.PartialAsync("_Coin", coin)
                </div>
            }
        </div>
    </div>
</div>

