@model IEnumerable<CCoinPairDataVM>

<div class="dc-coin-pairs">
    >coin-pairs
    @await Html.PartialAsync("_CoinPair")
    @await Html.PartialAsync("_CoinPair")
    @await Html.PartialAsync("_CoinPair")
</div>
