// /*.....................................*/
// /* TEMPLATE: coin */
.dc-coin {

    .dc-icon-arrow-right {
        display: none;
        margin-right: 4px;
    }

    &:hover {
        .dc-icon-arrow-right {
            display: inline-block;
        }
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: coin */
// /*.....................................*/
