@*@model (CCoinDataVM coindata, IEnumerable<CTextBlockVM> textblocks)*@
<div class="dc-coin-info dcg-tpg"> @*flex*@
    @*<h1 class="dcg-h1">title</h1>*@
    @*@await Html.PartialAsync("_Desc", Model.textblocks)*@
    @*@await Html.PartialAsync("_Table", Model.coindata)*@

    <table>
        <tr>
            <td>
                <span>Name</span>
            </td>
            <td>
                <span>Dash</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>Symbol</span>
            </td>
            <td>
                <span>DASH</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>Circulating supply</span>
            </td>
            <td>
                <span>10 633 197 $</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>Max supply</span>
            </td>
            <td>
                <span>18 900 000 $</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>Cmc rank</span>
            </td>
            <td>
                <span>76</span>
            </td>
        </tr>
    </table>
    @*/-----------------------------------------/*@
    <table>
        <tr>
            <td>
                <span>Volume 24h</span>
            </td>
            <td>
                <span>358 779 920 $</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>Percent change 1h</span>
            </td>
            <td>
                <span class="dcg-value-down">-0,37% </span>
            </td>
        </tr>
        <tr>
            <td>
                <span>Percent change 24h</span>
            </td>
            <td>
                <span class="dcg-value-up">5,59%</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>Percent change 7d</span>
            </td>
            <td>
                <span class="dcg-value-up">10%</span>
            </td>
        </tr>
    </table>
</div>
