@using CryptoApi.Models.DB;
@*@model CCoinPairDataVM*@

<div class="dc-coin-pair dcg-shadow-hover">
    <div class="dc-coin-pair__wrapper">
        <div class="dc-coin-pair__head">
        <div class="dc-coin-pair__coin">
            <a asp-controller="Coins" asp-action="Coin" asp-route-coin="btc" class="dc-coin-pair__coin-head">
                <img src="images/test-coin-image.png" alt="coin-image">
                <h3 class="dcg-h3">
                    BTC
                </h3>
            </a>
            <span class="dc-coin-pair__change-values dc-coin-pair__change-values_neg">
                <span>-4,83%</span>
                <svg icon="arrow-down" class="dcg-arrow-change"></svg>
            </span>
        </div>
        <svg icon="arrow-right-dark" class="dcg-icon-arrow-right"></svg>
        <div class="dc-coin-pair__coin">
            <a asp-controller="Coins" asp-action="Coin" asp-route-coin="btc" class="dc-coin-pair__coin-head">
                <img src="images/test-coin-image.png" alt="coin-image">
                <h3 class="dcg-h3">
                    ETH
                </h3>
            </a>
            <span class="dc-coin-pair__change-values dc-coin-pair__change-values_pos">
                <span>+5,16%</span>
                <svg icon="arrow-up" class="dcg-arrow-change"></svg>
            </span>
        </div>
    </div>
    <span class="dc-coin-pair__value">
        1 BTC = 13.90605686 ETH
    </span>
    <a class="dcg-btn dcg-btn_small" asp-controller="CoinPairs" asp-action="Pair" asp-route-coin1="btc" asp-route-coin2="eth">
        <svg icon="exchange-cycle-light"></svg>
        <span>Exchange</span>
    </a>
    </div>
</div>