// /*.....................................*/
// /* TEMPLATE: contacts */
.dc-contacts {
    .dcg-h3 {
        color: #FFF;
        font-size: 20px;
    }

    .dcg-h3 ~ .dcg-h3 {
        padding-top: 5px;
    }

    a {
        color: #c0cee5;
        font-weight: 700;
        letter-spacing: -0.9px;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: contacts */
// /*.....................................*/
