// /*.....................................*/
// /* TEMPLATE: contacts */
.dc-contacts {

    h3 ~ h3 {
        padding-top: 5px;
    }

    a {
        color: #c0cee5;
        font-weight: 700;
        letter-spacing: -0.9px;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: contacts */
// /*.....................................*/
