@{
    //@model CTextBlockVM
}
<div class="dc-contacts">
    <h3 class="dcg-h3">Contact</h3>
    <ul>
        <li><a href="#">support@atomex.me</a></li>
    </ul>
    <h3 class="dcg-h3">Terms of Use</h3>
</div>
