<div class="footer_rights"
             data-v-e0d532e6="">
            <div class="footer_rightsLink"
                 data-v-e0d532e6="">Copyright © 2020 LetsExchange. All rights reserved.</div>
            <div class="footer_policy"
                 data-v-e0d532e6=""><a href="https://letsexchange.io/privacy-policy"
                                       class="footer_rightsLink"
                                       data-v-e0d532e6="">Privacy Policy</a> <a href="https://letsexchange.io/terms-of-use"
                                                                                class="footer_rightsLink"
                                                                                data-v-e0d532e6="">Terms Of Use</a></div>
        </div>
