// /*.....................................*/
// /* TEMPLATE: copyright */
.dc-copyright {
    margin-top: 45px;
    letter-spacing: -0.5px;

    &__content {
    }

    @include media-breakpoint-down (sm) {
        font-size: 13px;
    }
}
// /* /TEMPLATE: copyright */
// /*.....................................*/
