@model IEnumerable<CTextBlockVM>

<div class="dc-faq">
    <div class="row">
        <div class="col-4">
            <h2 class="dcg-h2">Frequently Asked Questions</h2>
        </div>
        <div class="col-8"> 
            @await Html.PartialAsync("_SectionTextBlocks", (Model, true))
        </div>
    </div>
</div>
