@model object
@{
    var data = (IEnumerable<CTextBlockVM>)Model; 
}
<div class="dc-faq">
    @foreach(var item in data)
    {
        <div class="dc-faq-item">
            <div class="dc-faq-item__wrapper dcg-btn">
                <h3 class="dcg-h3">@item.title</h3>
                <svg class="dcg-toggle dcg-toggle_view" icon="plus"></svg>
                <svg class="dcg-toggle dcg-toggle_hide" icon="minus"></svg>
            </div>
            <p class="dc-faq-item__content">
                @item.text
            </p>
        </div>
    }
</div>
