<div id="faq" class="detailed-info-block">
    <div class="detailed-info-block__title">
        <h2>Frequently Asked Questions</h2>
    </div>
    <div class="detailed-info-block__info-wrap">
        @for (int i = 0; i < 4; i++)
        {
            <div class="collapse">
                <button class="btn btn--unscalable collapse__btn">
                    <span class="btn__content"> 
                        <span
                            class="btn__content-item">
                                <span class="collapse__btn-text">Do you need to convert DODO to Dollar today?</span> 
                            <i class="svg-icon collapse__svg dc-faq-btn">🡢</i>
                        </span> 
                    </span>
                </button>
                <div class="collapse__content">
                    <div class="collapse__content-wrap">
                        <div class="detailed-info-block__text"><p>Have a look at our live chart to make sure you are choosing the best moment to sell DODO with credit card. There, you can find the crypto price for 2022, the crypto market cap, trading volume, and other data needed to exchange coins with profit.</p></div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
