// /*.....................................*/
// /* TEMPLATE: faq */
.dc-faq {

    &-item {
        margin-left: auto;
        width: 680px;
        margin-bottom: 20px;
        border-bottom: 1px solid #ECECEC;

        .dcg-h3 {
            padding: 0;
            text-align: start;
        }

        &__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            width: 100%;
            border: 0;
            background: unset;
            padding-left: 0;

            &_opened {
                .dcg-toggle_view {
                    display: none !important;
                }

                .dcg-toggle_hide {
                    display: inline-block !important;
                }
            }

            svg {
                width: 18px;
                height: 18px;
            }

            .dcg-h3 {
                margin-bottom: 0;
            }
        }

        &__content {
            display: none;
            padding-right: 10px;
            padding-left: 15px;

            &_opened {
                display: block;
            }
        }

        .dcg-toggle {
            width: 20px;
            height: 20px;
            margin-left: 15px;
        }
    }

    @include media-breakpoint-down (lg) {
        &-item {
            width: 570px;
        }
    }

    @include media-breakpoint-down (md) {
        &-item {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
        }
    }


    @include media-breakpoint-down (xs) {
        .dcg-h3 {
            font-size: 20px;
            width: 100%;
        }
    }
}
    // /* /TEMPLATE: faq */
    // /*.....................................*/
