@model IEnumerable<CTextBlockVM>

<div class="dc-faq">
    >faq
    @await Html.PartialAsync("_TextBlock")
    @await Html.PartialAsync("_TextBlock")
    @await Html.PartialAsync("_TextBlock")
</div>
