<footer class="dc-footer">
    <div class="container">
        <div class="row">
            <div class="col">
                @*@await Html.PartialAsync("_AboutSmall")*@
            </div>
            <div class="col">
                @*@await Html.PartialAsync("_Contacts")*@
            </div>
            <div class="col">
                @*@await Html.PartialAsync("_SocIcons")*@
            </div>
        </div>
        <div class="row">
            <div class="col">
                @*@await Html.PartialAsync("_Copyright")*@
            </div>
        </div>
    </div>
</footer>