<footer class="border-top footer text-muted">
    <div class="dc-container">
        >footer
        <div class="dc-footer-part">
            footer-part
            @*@await Html.PartialAsync("_AboutSmall")*@
        </div>
        <div class="dc-footer-part">
            footer-part
            @*@await Html.PartialAsync("_Contacts")*@
        </div>
        <div class="dc-footer-part">
            footer-part
            @*@await Html.PartialAsync("_SocIcons")*@
        </div>
        <div class="dc-footer-part">
            footer-part
            @*@await Html.PartialAsync("_Copyright")*@
        </div>
    </div>
</footer>