// /*.....................................*/
// /* TEMPLATE: footer */
.dc-footer {
    width: 100%;
    bottom: 0;
    background: #3665AC;
    color: #FFFFFF;
    letter-spacing: -0.4px; /* ??? */
    font-size: 15px;
    padding: 34px 0 60px 0;

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: footer */
// /*.....................................*/
