// /*.....................................*/
// /* TEMPLATE: guide-list */
.dc-guide-list {
    .dcg-h2 {
        text-align: left;
        padding-bottom: 10px;
    }

    .dc-guide{
        margin-top: 20px;
    }
    
    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: guide-list */
// /*.....................................*/
