// /*.....................................*/
// /* TEMPLATE: header */
.dc-header {
    background: #3665AC;
    color: #FFFFFF;
    padding: 30px 0;
    position: fixed;
    width: 100%;
    z-index: 200;

    a {
        color: #FFFFFF;

        :hover {
            color: #0FD4E2;
        }
    }

    @include media-breakpoint-down (md) {
        
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: header */
// /*.....................................*/
