// /*.....................................*/
// /* TEMPLATE: header */
.dc-header {
    background: #3665AC;
    color: #FFFFFF;
    padding: 30px 0;
    position: fixed;
    width: 100%;
    z-index: 1;

    a {
        color: #FFFFFF;
    }

    a:hover {
        color: #0FD4E2;
    }

    .dc-main-menu {
        margin-left: 27px;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: header */
// /*.....................................*/
