<header>
    <div class="dc-container">
        >header
        @await Html.PartialAsync("_Logo")
        @await Html.PartialAsync("_MainMenu")
        @await Html.PartialAsync("_Auth")
    </div> 
</header>
