<header class="dc-header">
    <div class="container">
        <div class="row">
            <div class="col">
                @await Html.PartialAsync("_Logo")
            </div>
            <div class="col dc-bg-red">
                @await Html.PartialAsync("_MainMenu")
            </div>
            <div class="col dc-bg-red">
                @await Html.PartialAsync("_Auth")
            </div>
        </div>
    </div> 
</header>
