<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link href="/css/lib.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>