<header class="dc-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                @await Html.PartialAsync("_Logo")
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6">
                @await Html.PartialAsync("_MainMenu")
            </div>
            <div class="col-lg-1 col-md-0">
                @await Html.PartialAsync("_Auth")
            </div>
        </div>
    </div> 
</header>
