<div class="dc-head-advantages">
    <ul class="dc-head-advantages__list">
        <li class="d-inline-block">
            <div class="dc-head-advantages__advantage">
                <div class="dc-head-advantages__done d-inline-block">
                    <svg icon="done-small"></svg>
                </div>
                <div class="dcg-head-advantage d-inline-block">
                    <span class="d-block dc-head-advantages__text">301+</span>
                    <span class="d-block dc-head-advantages__text-light">supported coins</span>
                </div>
            </div>
        </li>
        <li class="d-inline-block">
            <div class="dc-head-advantages__advantage">
                <div class="dc-head-advantages__done d-inline-block">
                    <svg icon="done-small"></svg>
                </div>
                <div class="dc-head-advantages__advantage d-inline-block">
                    <span class="d-block dc-head-advantages__text">Exchange</span>
                    <span class="d-block dc-head-advantages__text-light">without limits</span>
                </div>
            </div>
        </li>
        <li class="d-inline-block">
            <div class="dc-head-advantages__advantage">
                <div class="dc-head-advantages__done d-inline-block">
                    <svg icon="done-small"></svg>
                </div>
                <div class="dc-head-advantages__advantage d-inline-block">
                    <span class="d-block dc-head-advantages__text">Non-custodial</span>
                    <span class="d-block dc-head-advantages__text-light">security</span>
                </div>
            </div>
        </li>
    </ul>
</div>
