<header class="dc-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-8">
                @await Html.PartialAsync("_Logo")
            </div>
            <div class="col-8">
                @await Html.PartialAsync("_MainMenu")
            </div>
            <div class="col-1">
                @await Html.PartialAsync("_Auth")
            </div>
        </div>
    </div> 
</header>
