<div class="home_adv">
    <img src="/_nuxt/img/home-coin-bg.357439f.svg" alt="home-coin-bg" class="home_advCoin"> 
    <div class="home_advItem">
        <div class="home_advItemText"><span>360+</span><br>supported coins</div>
    </div>
    <div class="home_advItem home_advItemBorders">
        <div class="home_advItemText"><span>Exchange</span><br>without limits</div>
    </div>
    <div class="home_advItem">
        <div class="home_advItemText"><span>Non-custodial</span><br>security</div>
    </div>
</div>