<!DOCTYPE html>
<html lang="en">
    @await Html.PartialAsync("_Head")
    <body>
        @await Html.PartialAsync("_Header")
        <div class="dc-container">
            <main role="main">
                @RenderBody()
            </main>
        </div>
        @await Html.PartialAsync("_Footer")
        @await Html.PartialAsync("_Scripts")
        @*@await RenderSectionAsync("Scripts", required: false)*@
    </body>
</html>