<!DOCTYPE html>
<html lang="en">
    @await Html.PartialAsync("_Head")
    <body class="@ViewData["BodyClass"]">
        @await Html.PartialAsync("_Header")
        @RenderBody()
        @await Html.PartialAsync("_Footer")
        @await Html.PartialAsync("_Scripts")
        @*@await RenderSectionAsync("Scripts", required: false)*@
    </body>
</html>