<div class="dc-main-menu">
    <nav class="navbar navbar-default dc-main-menu__nav">
        <ul class="nav navbar-nav">
            <li><a href="#">Wallet</a></li>
            <li><a asp-controller="Coins" asp-action="Index">Exchange Rates</a></li>
            <li><a asp-controller="CoinPairs" asp-action="Index">Exchange Pairs</a></li>
            <li><a href="#">Staking</a></li>
            <li><a href="#">Download</a></li>
            <li><a href="#">Currencies</a></li>
            <li><a href="#">FAQ</a></li>
            <li class="dc-main-menu__login"><a href="#">Login</a></li>
        </ul>
    </nav>
    <button type="button" class="dc-main-menu__hamburger-open"><svg icon="hamburger"></svg></button>
    <button type="button" class="dc-main-menu__hamburger-close"><svg icon="close"></svg></button>
</div>