<div class="dc-main-menu">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li><a href="#" class="dc-nav-item">Wallet</a></li>
            <li><a href="#" class="dc-nav-item">Exchange Rates</a></li>
            <li><a href="#" class="dc-nav-item">Exchange Pairs</a></li>
            <li><a href="#" class="dc-nav-item">Staking</a></li>
            <li><a href="#" class="dc-nav-item">Download</a></li>
            <li><a href="#" class="dc-nav-item">Currencies</a></li>
            <li><a href="#" class="dc-nav-item">FAQ</a></li>
        </ul>
    </nav>
</div>