// /*.....................................*/
// /* TEMPLATE: main-menu */
.dc-main-menu {
    letter-spacing: 0px;
    margin-left: 27px;

    &__nav {
        padding: 12px 0px 0 0;

        ul {
            flex-direction: row;
            width: 100%;
            justify-content: space-between;

            li {
                padding: 0 3px;

                a:hover{
                    color: #0FD4E2;
                }
            }
        }
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: main-menu */
// /*.....................................*/
