// /*.....................................*/
// /* TEMPLATE: market-update */
.dc-market-update {
    .dcg-section__head {
        padding-bottom: 20px;
    }

    .dc-table {
        th svg {
            width: 11px;
            height: 14px;
            margin-left: 7px;
        }

        th a {
            font-weight: 400 !important;
        }

        th {
            width: max-content;
        }

        th:last-child {
            text-align: end;
            padding-right: 26px;
            width: 165px;
        }

        th:nth-child(2) {
            width: 225px;
        }
    }

    @include media-breakpoint-down (md) {
        .dc-table {

            th:nth-child(4), td:nth-child(4), th:nth-child(5), td:nth-child(5), th:nth-child(8), td:nth-child(8) {
                display: none;
            }

            th:nth-child(2) {
                width: 225px;
            }
        }
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: market-update */
// /*.....................................*/
