@inject CBlocksHelperVM BlocksHelper
@model IEnumerable<CCoinPairDataVM>
@{
    string pairs_route = Url.RouteUrl(new { Action = "Index", Controller = "CoinPairs" });
}

<div class="dc-market-coin-pairs dcg-shadow">
    <div class="dc-market-coin-pairs__header">
        <h2 class="dcg-h2">All Crypto Fiat Pairs</h2>
        @await Html.PartialAsync("_MarketSearch")
    </div>  
    @await Html.PartialAsync("_Table", new CTableVM<CCoinPairDataVM> (Model)
        .Add("<span class='dcg-first-coin'>Coin</span>", i => Html.Partial("_Coin", new CCoinDataVM(){ data = i.coin1 }))
        .Add("<span class='dcg-first-change'>Change (24h)</span>", i => $"<span class='{(i.data.day_change_1 < 0 ? "dcg-value-down'>" : "dcg-value-up'>+")}{i.data.day_percent_change_1.ToString()}</span>")
        .Add("To", i => "<div class='dc-market-coin-pairs__to-arrow'><svg class='dcg-icon-arrow-right'><use xlink:href='/images/svg-sprite.svg#arrow-right-darkgray'></svg></div>")
        .Add("<span class='dcg-second-coin'>Coin</span>", i => Html.Partial("_Coin", new CCoinDataVM(){ data = i.coin2 }))
        .Add("<span class='dcg-second-change'>Change (24h)</span>", i => $"<span class='{(i.data.day_change_2 < 0 ? "dcg-value-down'>" : "dcg-value-up'>+")}{i.data.day_percent_change_2.ToString()}%</span>")
        .Add("Exchange", i => $"<div class='dc-market-coin-pairs__exchange'><a class='btn dcg-btn' href='{pairs_route}/{i.coin1.name}-to-{i.coin2.name}'>Exchange</a><svg><use xlink:href='/images/svg-sprite.svg#exchange-cycle-dark'></svg></div>")
    )
</div>