@using CryptoApi.ViewModels
@inject CBlocksHelperVM BlocksHelper
@model IEnumerable<CCoinDataVM>
@{
    int counter = 0;
}

<div class="dc-market-update">
    <div class="dcg-section__head">
        <h2 class="dcg-h2">Market Update</h2>
        <a asp-controller="Coins" asp-action="Index" class="dcg-btn dcg-btn_big">
            View All
            <svg icon="arrow-right-light" class="dcg-icon-arrow-right"></svg>
        </a>
    </div>
    @await Html.PartialAsync("_Table", new CTableVM<CCoinDataVM>(Model)
        .Add("#", i => (++counter).ToString())
        .Add("Name<svg><use xlink:href='/images/svg-sprite.svg#up-down-arrows'></svg>", i => Html.Partial("_Coin", i))
        .Add("Price<svg><use xlink:href='/images/svg-sprite.svg#up-down-arrows'></svg>", i => $"<span class='text-primary'>${i.data.usd_price}</span>")
        .Add("Volume (24h)<svg><use xlink:href='/images/svg-sprite.svg#up-down-arrows'></svg>", i => "$" + ((long)i.data.volume_24h).ToString())
        .Add("Circulating Supply<svg><use xlink:href='/images/svg-sprite.svg#up-down-arrows'></svg>", i => i.data.circulating_supply.ToString())
        .Add("Market Cap<svg><use xlink:href='/images/svg-sprite.svg#up-down-arrows'></svg>", i => "$" + ((long)i.data.market_cap).ToString())
        .Add("Change (24h)<svg><use xlink:href='/images/svg-sprite.svg#up-down-arrows'></svg>", i => $"<span class='{(i.data.day_percent_change < 0 ? "dcg-value-down'>" : "dcg-value-up'>+")}{i.data.day_percent_change.ToString()}%</span>")
        .Add("Price Graph (7d)", i => "<img src='/images/graph.png'>")
    )
</div>