// /*.....................................*/
// /* TEMPLATE: market-coins */
.dc-market-coins {
    border-radius: 7px;
    padding: 20px;
    margin-top: -160px;
    background: #fff;
    padding-bottom: 0;

    .dcg-h3 {
        line-height: 20px;
    }

    .dc-table {
        th svg {
            width: 11px;
            height: 14px;
            margin-left: 7px;
        }

        th a {
            font-weight: 400 !important;
        }

        th {
            width: max-content;
        }

        td {
            position: relative
        }

        th:last-child {
            text-align: end;
            padding-right: 26px;
            width: 145px;
        }

        th:nth-child(2) {
            width: 250px;
        }

        th:nth-child(7), td:nth-child(7) {
            display: none;
        }
    }

    &__sort-by {
        position: relative;
    }

    &__sort-by-btn {
        font-size: 14px;
        font-weight: 400 !important;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        width: 110px;
        border: 0;
        background: unset;
        color: black;
        height: 40px;

        &:focus-visible {
            outline: unset;
        }
    }

    &__sort-by-list {
        position: absolute;
        background: linear-gradient(75deg, #fff 0%, #3665AC 70%, #3665AC 100%);
        border-top: 0;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        margin: 0;
        z-index: 1;
        overflow: hidden;
        border-left: 0;
        display: none;

        li {

            a {
                font-size: 15px;
                font-weight: 400;
                padding: 10px;
                text-align: right;
                display: inline-block;
                width: 100%;
                height: 100%;
                color: #FFF;
                white-space: nowrap;
            }

            a:hover {
                background: linear-gradient(75deg, #fff 0%, #0FD4E2 70%, #0FD4E2 100%);
            }

            li {
                padding: 10px;
                text-align: right;

                a {
                    font-size: 15px;
                    color: #000;
                    font-weight: 400;
                }
            }
        }

        li ~ li {
            border-top: solid 1px #ECECEC;
            border-style: dotted;
        }

        li:last-child {
            display: none;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 28px;

        .dcg-btn {
            display: none;
        }

        svg {
            width: 13px;
            height: 6px;
        }
    }

    .dc-market-search {
        &__wrapper {
            width: 910px;
            margin-left: auto;
        }
    }

    &__exchange {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 38px;

        &-btn {
            background: #0056B3;
            width: 110px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            display: none;
            position: absolute;
            left: 24%;
            top: 26%;
        }

        &-cycle {
            margin-left: 30px;
        }

        &-btn:hover {
            color: #fff;
        }

        svg {
            width: 16px;
            height: 16px;
        }

        &:hover svg {
            display: none;
        }

        &:hover &-btn {
            display: flex;
        }
    }

    &__no-results {
        padding: 130px 0 150px 0;
        text-align: center;
    }

    @include media-breakpoint-down (xl) {

        .dc-table {
            th:last-child {
                width: 145px;
            }
        }
    }

    @include media-breakpoint-down (lg) {
        &__exchange {
            svg {
                margin-left: 0;
            }
        }

        .dc-market-search {
            &__wrapper {
                width: 745px;
            }
        }
    }


    @include media-breakpoint-down (md) {
        margin-top: -125px;
        width: 728px;

        &__sort-by {
            width: max-content;
        }

        .dc-market-search {
            &__wrapper {
                width: 475px;
                margin-right: auto;
            }
        }

        &__sort-by-list {

            li:nth-child(3) {
                display: none;
            }
        }

        .dcg-h2 {
            width: 400px;
        }

        .dc-table {
            th:nth-child(1) {
                width: 30px;
            }

            th:nth-child(2) {
                width: 133px;
            }

            th:nth-child(3) {
                width: 100px;
            }

            th:nth-child(4), td:nth-child(4) {
                display: none;
            }


            th:nth-child(5) {
                width: 180px;
            }

            th:last-child {
                width: 102px !important;
                padding-right: 0px !important;
            }
        }

        &__exchange {
            &-cycle {
                margin-left: 0;
            }

            svg {
                margin-left: 41px;
            }

            &:hover svg {
                display: inline;
            }

            &:hover &-btn {
                display: none;
            }
        }

        &__header {
            margin-bottom: 10px;
        }
    }

    @include media-breakpoint-down (sm) {
        width: 100%;


        &__sort-by-list {
            li:last-child {
                display: list-item;
            }

            li:nth-child(2), li:nth-child(5) {
                display: none;
            }
        }

        .dcg-h2 {
            display: none;
        }


        .dc-market-search {
            &__wrapper {
                width: 375px;
            }
        }

        .dc-table {
            .dcg-h3 {
                margin-left: 5px;
            }

            th:nth-child(2) {
                width: 60px;
            }

            th:nth-child(3), td:nth-child(3), th:nth-child(6), td:nth-child(6), th:nth-child(1), td:nth-child(1) {
                display: none;
            }

            th:nth-child(5) {
                width: 100px;
            }

            th:last-child {
                width: 60px !important;
            }

            th:nth-child(7), td:nth-child(7) {
                width: 90px;
                display: table-cell;
            }
        }

        &__exchange {
            svg {
                margin-left: 16px;
            }
        }

        &__header {
            margin-bottom: 2px;
        }
    }

    @include media-breakpoint-down (xs) {

        .dc-market-search {
            width: 60%;

            &__wrapper {
                width: 100%;
            }
        }

        .dc-coin {
            img {
                width: 20px;
                height: 20px;
            }

            .dcg-h3 {
                font-weight: 400;
                font-size: 13px;
            }
        }

        &__exchange {
            svg {
                margin: auto;
                margin-left: 14px;
            }
        }

        .dc-table {

            th:last-child, td:last-child {
                display: none;
            }

            td {
                font-size: 13px;
                word-break: break-all;
            }

            th:nth-child(2) {
                width: 75px;
            }

            th:nth-child(5) {
                width: 90px;
            }
        }

        &:hover svg {
            display: inline-block;
        }

        &:hover .dcg-btn {
            display: none;
        }
    }
}
// /* /TEMPLATE: market-coins */
// /*.....................................*/
