<div class="dc-market-search">
    <div class="dc-market-search__wrapper">
        <form method="get">
            <input class="dcg-inp" type="text" placeholder="Search the coin">
            <button class="btn dcg-btn" type="submit">s<svg icon="search"></svg></button>
        </form>
    </div>
</div>