// /*.....................................*/
// /* TEMPLATE: market-coins */
.dc-market-coins {
    border-radius: 7px;
    padding: 20px;
    margin-top: -160px;
    background: #fff;
    padding-bottom: 0;

    .dcg-h3 {
        line-height: 20px;
    }

    .dc-table {
        th svg {
            width: 11px;
            height: 14px;
            margin-left: 7px;
        }

        th a {
            font-weight: 400 !important;
        }

        th {
            width: max-content;
        }

        td {
            position: relative
        }

        th:last-child {
            text-align: end;
            padding-right: 26px;
            width: 165px;
        }

        th:nth-child(2) {
            width: 250px;
        }
    }

    &__search-by {
        font-size: 14px;
        font-weight: 400 !important;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        width: 110px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 28px;

        .dcg-btn {
            display: none;
        }

        svg {
            width: 13px;
            height: 6px;
        }
    }

    .dc-market-search {
        &__wrapper {
            width: 910px;
            margin-left: auto;
        }
    }

    &__exchange {
        text-align: center;
        width: 100%;
        height: 100%;

        .dcg-btn {
            background: #0056B3;
            width: 110px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            display: none;
            position: absolute;
            left: 33%;
            top: 26%;
        }

        .dcg-btn:hover {
            color: #fff;
        }

        svg {
            width: 16px;
            height: 16px;
        }

        &:hover svg {
            display: none;
        }

        &:hover .dcg-btn {
            display: flex;
        }
    }

    &__no-results {
        padding: 130px 0 150px 0;
        text-align: center;
    }

    @include media-breakpoint-down (xl) {

        .dc-table {
            th:last-child {
                width: 115px;
            }
        }
    }

    @include media-breakpoint-down (lg) {
        &__exchange {
            svg {
                margin-left: 0;
            }
        }

        .dc-market-search {
            &__wrapper {
                width: 745px;
            }
        }
    }


    @include media-breakpoint-down (md) {
        margin-top: -166px;
        width: 728px;

        &__search-by {
            width: max-content;
        }

        .dc-market-search {
            .dc-market-search__wrapper {
                width: 475px;
                margin-right: auto;
            }
        }

        .dcg-h2 {
            width: 400px;
        }

        .dc-table {
            th:nth-child(1) {
                width: 30px;
            }

            th:nth-child(2) {
                width: 133px;
            }

            th:nth-child(3) {
                width: 100px;
            }

            th:nth-child(4), td:nth-child(4) {
                display: none;
            }


            th:nth-child(5) {
                width: 180px;
            }

            th:last-child {
                width: 102px !important;
                padding-right: 0px !important;
            }
        }

        &__exchange {
            svg {
                margin-left: 41px;
            }
        }

        &__header {
            margin-bottom: 10px;
        }
    }

    @include media-breakpoint-down (sm) {
        margin-top: -155px;
        width: 100%;

        .dcg-h2 {
            display: none;
        }


        .dc-market-search {
            .dc-market-search__wrapper {
                width: 375px;
            }
        }

        .dc-table {
            .dcg-h3 {
                margin-left: 5px;
            }

            th:nth-child(1), td:nth-child(1) {
                display: none;
            }

            th:nth-child(2) {
                width: 60px;
            }

            th:nth-child(3), td:nth-child(3) {
                display: none;
            }

            th:nth-child(6) {
                width: 90px;
            }

            th:nth-child(5) {
                width: 100px;
            }

            th:last-child {
                width: 60px !important;
            }
        }

        &__exchange {
            svg {
                margin-left: 16px;
            }
        }

        &__header {
            margin-bottom: 2px;
        }
    }

    @include media-breakpoint-down (xs) {

        .dc-market-search {
            .dc-market-search__wrapper {
                width: 190px;
            }
        }

        .dc-coin {
            img {
                width: 20px;
                height: 20px;
            }

            .dcg-h3 {
                font-weight: 400;
                font-size: 13px;
            }
        }

        &__exchange {
            svg {
                margin: auto;
                margin-left: 14px;
            }
        }

        .dc-table {

            th:last-child, td:last-child {
                display: none;
            }

            td {
                font-size: 13px;
                word-break: break-all;
            }

            th:nth-child(2) {
                width: 75px;
            }

            th:nth-child(5) {
                width: 90px;
            }
        }

        &:hover svg {
            display: inline-block;
        }

        &:hover .dcg-btn {
            display: none;
        }
    }
}
// /* /TEMPLATE: market-coins */
            // /*.....................................*/
