// /*.....................................*/
// /* TEMPLATE: market-update */
.dc-market-update {
    .dcg-section__head {
        padding-bottom: 25px;
    }

    .dc-table {
        th svg {
            width: 11px;
            height: 14px;
            margin-left: 7px;
        }

        th a {
            font-weight: 400 !important;
        }

        th {
            width: max-content;
        }

        th:last-child {
            text-align: end;
            padding-right: 26px;
            width: 165px;

            &::after {
                content: "";
            }
        }
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: market-update */
// /*.....................................*/
