// /*.....................................*/
// /* TEMPLATE: market-coin-pairs */
.dc-market-coin-pairs {
    border-radius: 7px;
    padding: 20px;
    margin-top: -160px;
    background: #fff;
    padding-bottom: 0;

    .dcg-h3 {
        line-height: 20px;
    }

    .dcg-h2 {
        width: 290px;
        padding: 0;
        margin: 0;
    }

    .dc-market-search {
        width: 550px;
    }

    &__to-arrow {
        text-align: center;
    }

    .dc-table {
        th svg {
            width: 11px;
            height: 14px;
            margin-left: 7px;
        }

        th {
            font-weight: 400 !important;
        }

        th {
            width: max-content;
        }

        td {
            position: relative
        }

        td:nth-child(3), td:nth-child(7), th:nth-child(3), th:nth-child(7) {
            display: none;
        }

        th:nth-child(4) {
            width: 230px;
            text-align: center;
        }

        th:nth-child(5) {
            text-align: left;
        }

        th:nth-child(2), th:nth-child(6), td:nth-child(2), td:nth-child(6) {
            text-align: right;
        }

        th:nth-child(1), th:nth-child(5) {
            width: 250px;
        }

        th:last-child {
            text-align: end;
            width: 165px;
            padding-right: 28px !important;
        }

        .dcg-icon-arrow-right {
            display: none !important;
        }
    }

    .dc-market-search {
        .dc-market-search__wrapper {
            width: 100%;
            margin-left: auto;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        .dcg-btn {
            display: none;
        }

        svg {
            margin-right: 6px !important;
        }
    }

    &__exchange {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 38px;

        &-btn {
            background: #0056B3;
            width: 110px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            display: none;
            position: absolute;
            left: 23%;
            top: 25%;
        }

        &-btn:hover {
            color: #fff;
        }

        svg {
            width: 16px;
            height: 16px;
            margin-left: 46px;
        }

        &:hover svg {
            display: none;
        }

        &:hover .dc-market-coin-pairs__exchange-btn {
            display: flex;
            margin-left: 15px;
        }
    }

    &__no-results {
        padding: 130px 0 150px 0;
        text-align: center;
    }

    &__hidden-val {
        margin-top: 3px;
        text-align: center;
    }

    @include media-breakpoint-down (lg) {
        &__exchange {
            svg {
                margin-left: 50px;
            }

            &:hover .dc-market-coin-pairs__exchange-btn {
                margin-left: 20px;
                width: 90px;
            }
        }

        .dc-table {
            th:last-child {
                padding-right: 18px !important;
            }
        }

        .dc-market-coins__exchange-cycle {
            margin-left: 0;
        }
    }


    @include media-breakpoint-down (md) {
        margin-top: -125px;
        width: 728px;

        .dc-market-search {
            .dc-market-search__wrapper {
                width: 305px;
                margin-left: auto;
            }
        }

        .dcg-h2 {
            width: 400px;
        }

        .dc-table {
            th:nth-child(1), th:nth-child(5) {
                width: 110px;
            }

            th:nth-child(2), th:nth-child(6) {
                width: 99px;
            }

            th:nth-child(4) {
                width: 104px;
            }

            th:last-child {
                width: 104px !important;
                padding-right: 0px !important;
            }

            .dc-coin {
                .dc-coin_short-name {
                    display: inline-block;
                }

                .dc-coin_full-name {
                    display: none;
                }

                .dcg-h3 {
                    margin-left: 10px;
                }
            }
        }

        &__exchange {
            svg {
                margin-left: 55px;
            }

            &-cycle {
                margin-left: 0;
                padding-right: 0;
            }

            .dc-market-coins__exchange-cycle {
                padding-right: 0;
            }

            svg {
                /*margin-left: 50px;*/
            }

            &:hover svg {
                display: inline;
            }

            &:hover .dc-market-coin-pairs__exchange-btn {
                display: none;
            }
        }

        &__header {
            margin-bottom: 7px;
        }
    }

    @include media-breakpoint-down (sm) {
        width: 100%;

        .dcg-h2 {
            display: none;
        }

        .dc-market-search {
            .dc-market-search__wrapper {
                width: 100%;
            }
        }

        .dc-table {

            th:nth-child(1), th:nth-child(5), td:nth-child(1), td:nth-child(5) {
                display: none;
            }

            th:nth-child(3), th:nth-child(7), td:nth-child(3), td:nth-child(7) {
                display: inline-block;
                width: 150px;
                text-align: left;
            }

            th:nth-child(2), th:nth-child(6), td:nth-child(2), td:nth-child(6) {
                display: none;
            }

            th:nth-child(4) {
                width: 100px;
            }

            th:last-child {
                width: 100px !important;
            }
        }

        &__exchange {
            justify-content: end;

            svg {
                margin-left: 0px;
                margin-right: 22px;
            }
        }

        &__header {
            margin-bottom: 2px;
        }
    }

    @include media-breakpoint-down (xs) {
        .dc-table {
            td {
                font-size: 13px;
            }

            th:nth-child(3), th:nth-child(7), td:nth-child(3), td:nth-child(7) {
                width: 80px;
            }

            th:nth-child(4) {
                width: 80px;
            }
        }

        .dc-coin {
            img {
                width: 20px;
                height: 20px;
            }

            .dcg-h3 {
                font-weight: 400;
                font-size: 13px;
            }
        }

        &__exchange {
        }

        &:hover svg {
            display: inline-block;
        }

        &:hover &__exchange-btn {
            display: none;
        }
    }
}
// /* /TEMPLATE: market-coin-pairs */
// /*.....................................*/
