<div class="dc-news-sketch dcg-shadow-hover">
    <div class="dc-news-sketch__image-wrapper">
        <img src="/pictures/bitcoin-gold.jpg" alt="news">
    </div>
    <div class="dc-news-sketch__content-wrapper">
        <div class="dc-news-sketch__tags">
            <a href="#" class="dc-news-sketch__tag">
                btg
            </a>
            <a href="#" class="dc-news-sketch__tag">
                predictions
            </a>
        </div>
        <h4 class="dcg-h4">
            Bitcoin Gold (BTG) Price Prediction for 2022 - 2030
        </h4>
        <div class="dc-news-sketch__text">
            Atomex provides websocket API for wallets and market makers. Contact us if you have questions regarding integration.
        </div>
        <div class="dc-news-sketch__details">
            <div class="dc-news-sketch__date">
                <svg icon="calendar"></svg>
                <span>April 7</span>
            </div>
            <div class="dc-news-sketch__link">
                <a href="#">Read more</a>
                <svg icon="arrow-right-dark" class="dcg-icon-arrow-right"></svg>
            </div>
        </div>
    </div>
</div>