@using CryptoApi.ViewModels
@inject IConfiguration conf
@model (int Count, int Page)
@{
    int pag_items_per_page = 10;
    string page_query_key = "?page=";
    List<(string Url, string Title)> pag_items = CBlocksHelperVM.GetPagination(Model.Count, Model.Page, pag_items_per_page, page_query_key);
}
@if (Model.Count > 1)
{
    <div class="pagination">
        <ul class="pagination__list">
            @foreach ((string Url, string Title) item in pag_items)
            {
                if (item.Title == Model.Page.ToString())
                {
                    <li class="pagination__list-item-wrap">
                        <span class="pagination__list-item pagination__list-item--active">
                            @item.Title
                        </span>
                    </li>
                }
                else
                {
                    <li class="pagination__list-item-wrap">
                        <a href="@item.Url" class="nuxt-link-active pagination__list-item">
                            @item.Title
                        </a>
                    </li>
                }
            }
        </ul>
    </div>
}
