<div class="dc-page-head-main">
    <h1 class="dcg-h1">Exchange <strong>anonymously</strong> any volume with guaranteed fixed rate</h1>
    <ul class="dc-page-head-main__advantages">
        <li class="d-inline-block">
            <div class="dc-page-head-main__advantage">
                <div class="dc-page-head-main__done d-inline-block">
                    <svg icon="done-small"></svg>
                </div>
                <div class="dcg-head-advantage d-inline-block">
                    <span class="d-block dc-page-head-main__text">301+</span>
                    <span class="d-block dc-page-head-main__text-light">supported coins</span>
                </div>
            </div>
        </li>
        <li class="d-inline-block">
            <div class="dc-page-head-main__advantage">
                <div class="dc-page-head-main__done d-inline-block">
                    <svg icon="done-small"></svg>
                </div>
                <div class="dc-page-head-main__advantage d-inline-block">
                    <span class="d-block dc-page-head-main__text">Exchange</span>
                    <span class="d-block dc-page-head-main__text-light">without limits</span>
                </div>
            </div>
        </li>
        <li class="d-inline-block">
            <div class="dc-page-head-main__advantage">
                <div class="dc-page-head-main__done d-inline-block">
                    <svg icon="done-small"></svg>
                </div>
                <div class="dc-page-head-main__advantage d-inline-block">
                    <span class="d-block dc-page-head-main__text">Non-custodial</span>
                    <span class="d-block dc-page-head-main__text-light">security</span>
                </div>
            </div>
        </li>
    </ul>
</div>