@using CryptoApi.ViewModels
@inject IConfiguration conf
@model List<(string Url, string Title)>
@{
    string current_page = Context.Request.Query["page"] == Microsoft.Extensions.Primitives.StringValues.Empty ? "1" : Context.Request.Query["page"];
}
<div class="dc-pagination">
    >pagination
</div>
