@model (int Count, int Page);

@*Данные для пагинации:
ссылка: ?page=2*@
@Model.Count
<br />
@Model.Page

<div class="pagination">
    <ul class="pagination__list">
        <li class="pagination__list-item-wrap"><a href="/custom/exchange-pairs/page2116/" class="nuxt-link-active pagination__list-item">
            2116
        </a></li>
        <li class="pagination__list-item-wrap"><a href="/custom/exchange-pairs/page2117/" class="nuxt-link-active pagination__list-item">
            2117
        </a></li>
        <li class="pagination__list-item-wrap"><a href="/custom/exchange-pairs/page2118/" class="nuxt-link-active pagination__list-item">
            2118
        </a></li>
        <li class="pagination__list-item-wrap"><a href="/custom/exchange-pairs/page2119/" class="nuxt-link-active pagination__list-item">
            2119
        </a></li>
        <li class="pagination__list-item-wrap"><a href="/custom/exchange-pairs/page2120/" class="nuxt-link-active pagination__list-item">
            2120
        </a></li>
        <li class="pagination__list-item-wrap"><a href="/custom/exchange-pairs/page2121/" class="nuxt-link-active pagination__list-item">
            2121
        </a></li>
        <li class="pagination__list-item-wrap"><a href="/custom/exchange-pairs/page2122/" class="nuxt-link-active pagination__list-item">
            2122
        </a></li>
        <li class="pagination__list-item-wrap"><a href="/custom/exchange-pairs/page2123/" class="nuxt-link-active pagination__list-item">
            2123
        </a></li>
        <li class="pagination__list-item-wrap"><a href="/custom/exchange-pairs/page2124/" class="nuxt-link-active pagination__list-item">
            2124
        </a></li>
        <li class="pagination__list-item-wrap"><a href="/custom/exchange-pairs/page2125/" class="nuxt-link-active pagination__list-item">
            2125
        </a></li>
        <li class="pagination__list-item-wrap"><a href="/custom/exchange-pairs/page2126/" class="nuxt-link-active pagination__list-item">
            2126
        </a></li>
    </ul>
</div>
