@model Dictionary<string, string>

<div class="dc-partners">
    <h2 class="dcg-h2">Media & Partners</h2>
    <div class="row justify-content-center">

        @foreach (var pair in Model)
        {
            <div class="col-xl-3 col-lg-4 col-md-12">
                <a href="@pair.Value" class="dc-partners__partner">
                    <img src="@pair.Key" alt="partner" loading="lazy">
                </a>
            </div>
        }
    </div>
</div>
