// /*.....................................*/
// /* TEMPLATE: partners */
.dc-partners {
    .dcg-h2 {
        margin-bottom: 10px;
        padding-bottom: 0;
    }

    &__partner {
        padding: 48px 15px 0 15px;
        display: block;

        img {
            height: 60px;
            width: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
            opacity: 0.8;
        }
    }

    &__partner:hover {
        img {
            opacity: 1;
        }
    }

    & div:nth-child(6) {
        .dc-partners__partner {
            padding-top: 38px;

            img {
                height: 90px;
            }
        }
    }

    & div:nth-child(7) {
        .dc-partners__partner {
            padding-top: 28px;

            img {
                height: 110px;
            }
        }
    }


    @include media-breakpoint-down (md) {
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: partners */
// /*.....................................*/
