// /*.....................................*/
// /* TEMPLATE: section-text-blocks */
.dc-section-text-blocks {
    .dc-section-text-block {
        margin-bottom: 0;
    }

    .dc-text-block {
        margin-left: auto;
        width: 680px;

        .dcg-h2 {
            margin-bottom: 0;
        }
    }

    .dc-section-text-block + .dc-section-text-block {
        margin-top: 37px;
    }


    @include media-breakpoint-down (md) {
        /*.dc-section-text-block {
            .dcg-h2 {
                text-align: left;
            }
        }*/

        .dc-text-block {
            margin-left: 0;
            width: 100%;
        }
    }
}
// /* /TEMPLATE: section-text-blocks */
// /*.....................................*/
