// /*.....................................*/
// /* TEMPLATE: section-text-block */
.dc-section-text-block {

    .dcg-h2 {
        text-align: start;
        padding: 0;
    }

    &__content {
        margin-bottom: 0;
        margin-left: auto;
        padding-left: 60px;
    }


    @include media-breakpoint-down (md) {
        .dcg-h2 {
            margin-bottom: 38px;
            text-align: center !important;
        }
        
    }
}
// /* /TEMPLATE: section-text-block */
// /*.....................................*/
