@model IEnumerable<CTextBlockVM>

<div class="dc-section-text-blocks">
    @foreach (var item in Model)
    {
        @await Html.PartialAsync("_SectionTextBlock", (item.title, "_TextBlock", (object)("", item.text)))
    }
</div>