// /*.....................................*/
// /* TEMPLATE: section-text-block */
.dc-section-text-block {
    
    /*display: flex;*/

    .dcg-h2 {
        text-align: start;
        padding: 0;
    }

    &__content {
        margin-bottom: 0;
        margin-left: auto;
        padding-left: 60px;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: section-text-block */
// /*.....................................*/
