@model IEnumerable<(string title, string content)>

<div class="dc-section-text-blocks">
    @foreach (var item in Model)
    {
        @await Html.PartialAsync("_SectionTextBlock", item)
    }
</div>