@model (string title, string template, object data)
@*??? !!! !@# в общем, сам разберёшься... *@

<div class="dc-section-text-block">
    <div class="row">
        <div class="col-4">
            <h2 class="dcg-h2 p-0 text-left">@Model.title</h2>
        </div>
        <div class="col-8"> 
            @await Html.PartialAsync(Model.template, Model.data)
        </div>
    </div>
</div>