@{
    string content_1 = "You have all the freedom in the world — start with less than 2 $ in your favorite coin. You don't have to worry about any upper limits —swap as much crypto in one go as you want.";
    string content_2 = "Your safety is our top priority-as a non-custodial service, ChangeNOW does not control your crypto assets. We do not store your funds or require registration.";
    string content_3 = "Our service is built for simplicity and superspeed — we exchange crypto in 2 minutes on average. We also support Visa and MasterCard for fast and easy flat-to-crypto purchases.";
}

<div class="dc-services">
    <h2 class="dcg-h2">The Service You Deserve</h2>
    <div class="row">
        <div class="col-lg-4 col-md-12">@await Html.PartialAsync("_Service", ("/images/coin.png", "Limitless Exchanges", content_1, ("Find out more", "#")))</div>
        <div class="col-lg-4 col-md-12">@await Html.PartialAsync("_Service", ("/images/safety.png", "Absolute Safety", content_2, ("Find out more", "#")))</div>
        <div class="col-lg-4 col-md-12">@await Html.PartialAsync("_Service", ("/images/wallet.png", "Instant Crypto Exchange", content_3, ("Try it", "#")))</div>
    </div> 
</div>
