// /*.....................................*/
// /* TEMPLATE: service */
.dc-service {
    width: 360px;
    height: 275px;
    border-radius: 7px;
    padding: 8px 20px;
    background: #fff;

    .dcg-h3 {
        padding-top: 7px;
        padding-left: 17px;
        width: 175px;
    }

    &__head {
        display: flex;
        align-items: center;
        margin-bottom: 6px;

        img {
            width: 93px;
            height: 93px;
        }
    }

    &__content {
        margin-bottom: 15px;
    }

    &__details {

        svg {
            width: 18px;
            height: 15px;
            margin-left: 2px;
            margin-bottom: 4px;
        }
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: service */
// /*.....................................*/
