<div class="dc-soc-icons">
    <h3 class="dcg-h3">Follow Us</h3>
    <ul>
        <li><a href="https://medium.com/@@_MisterWalker_"><svg icon="medium"></svg></a></li>
        <li><a href="https://twitter.com/atomex_official"><svg icon="twitter"></svg></a></li>
        <li><a href="https://github.com/atomex-me"><svg icon="github"></svg></a></li>
        <li><a href="tg://resolve?domain=atomex_official"><svg icon="telegram"></svg></a></li>
        <li><a href="https://www.youtube.com/channel/UCg-jUk-6MVEMSZ4Qhfrt40Q"><svg icon="youtube"></svg></a></li>
    </ul>
</div>
