// /*.....................................*/
// /* TEMPLATE: soc-icons */
.dc-soc-icons {
    .dcg-h3 {
        color: #FFF;
        font-size: 20px;
    }

    .dcg-h3 ~ .dcg-h3 {
        padding-top: 5px;
    }

    li {
        display: inline-block;
    }

    a {
        svg {
            color: #d6e0ee;
            width: 16px;
            margin-right: 16px;
            height: 16px;
            fill: #d6e0ee;
        }

        :hover {
            filter: invert(0.3);
        }
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: soc-icons */
// /*.....................................*/
