// /*.....................................*/
// /* TEMPLATE: soc-icons */
.dc-soc-icons {
    /*h3 {
        margin-bottom: 5px;
    }*/
    li {
        display: inline-block;
    }

    svg {
        color: #d6e0ee;
        width: 16px;
        margin-right: 16px;
        height: 16px;
        fill: #d6e0ee;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: soc-icons */
// /*.....................................*/
