@model CTextBlockVM

<div class="dc-subheader-coins">
    <div class="row">
        <div class="col">
            @await Html.PartialAsync("_Breadcrumbs", new[] { ("Exchange Rates", "") })
        </div>
    </div>
    <h1 class="dcg-h1">@Html.Raw(Model.title)</h1>
    <p class="dc-subheader-coins__desc">
       @Html.Raw(Model.text)
    </p>
</div>