// /*.....................................*/
// /* TEMPLATE: subheader-coin-pair */
.dc-subheader-coin-pair {
    .dcg-h1 {
        margin-bottom: 39px;
    }

    .dc-exchange-widget {
        margin-left: auto;
    }


    @include media-breakpoint-down (lg) {
        .dcg-h1 {
            text-align: center;
            margin-top: 10px;
        }

        .dc-exchange-widget {
            margin: auto;
            margin-top: 20px;
        }
    }

    @include media-breakpoint-down (md) {
        .dcg-h1 {
            margin-top: 0;
        }
    }
}
// /* /TEMPLATE: subheader-coin-pair */
// /*.....................................*/
