@model CTextBlockVM

<div class="dc-subheader-coin-pairs">
    <div class="row">
        <div class="col">
            @await Html.PartialAsync("_Breadcrumbs", new[] { ("Cryptocurrency Exchange Pairs", "") })
        </div>
    </div>
    <h1 class="dcg-h1">@Html.Raw(Model.title)</h1>
    <p class="dc-subheader-coin-pairs__desc">
        @Html.Raw(Model.text)
    </p>
</div>