// /*.....................................*/
// /* TEMPLATE: subheader-main */
.dc-subheader-main {
    margin-top: 45px;

    &::after {
        content: "";
        clear: both;
        display: block;
    }

    .dcg-h1 {
        float: left;
        width: 590px;
        padding-top: 30px;
        margin-bottom: 0;
    }

    .dc-page-head-main {
        float: left;
        width: 700px;
    }

    .dc-exchange-widget {
        margin-left: auto;
    }

    &__links {
        display: flex;
        flex-wrap: wrap;
        height: max-content;
        width: 550px;
        align-items: center;
        /*margin-top: -120px;*/
        float: left;

        &_second {
            display: none
        }

        svg {
            fill: #FFF;
        }
    }

    &__link {
        width: 135px;
        height: 40px;
        background: #212529;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 7.5px 15px 7.5px 0px;
    }

    &__svg-big {
        svg {
            width: 115px;
        }

        img {
            width: 115px;
            height: 30px;
        }
    }

    &__svg-middle {

        svg {
            width: 100px;
        }
    }

    &__svg-small {
        svg {
            width: 17px;
            height: 17px;
            margin-right: 10px;
        }
    }

    &__link-name {
        font-size: 14px;
        color: #fff;

        svg {
            width: 15px;
            height: 15px;
        }
    }

    &__link-name-single {
    }


    @include media-breakpoint-down (lg) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .dcg-h1 {
            margin-bottom: 30px;
            text-align: center;
            width: 710px;
            padding: 0;
        }

        .dc-exchange-widget {
            margin-left: 0;
        }

        &__links {
            width: 730px;
            flex-wrap: nowrap;
            margin-top: 0;
            justify-content: space-between;
            margin-top: 30px;

            &_first {
                display: none
            }

            &_second {
                display: flex;
            }



            &__link {
                margin: 0;
            }
        }
    }

    @include media-breakpoint-down (md) {
        .dcg-h1 {
            width: 100%;
            padding: 0;
        }
    }

    @include media-breakpoint-down (sm) {
        .dcg-h1 {
            width: 100%;
            padding: 0;
        }

        &__links {
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
        }
    }



    @include media-breakpoint-down (xs) {
        margin-top: 0 !important;

        .dcg-h1 {
            margin-top: 10px;
            font-family: Nunito;
            font-size: 26px;
            line-height: 35px;
            letter-spacing: 0em;
            text-align: center;
            width: 100%;
        }
    }
}
// /* /TEMPLATE: subheader-main */
    // /*.....................................*/
