@model string

<div class="dc-subheader-coin">
    <div class="row">
        <div class="col">
            @await Html.PartialAsync("_Breadcrumbs", new[] { ("Exchange Rates", Url.RouteUrl(new { Action = "Index", Controller = "Coins" })), (Model + " to USD", "") })
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="dcg-h1">Exchange <strong>@Model</strong> to <strong>USD</strong></h1>
            @await Html.PartialAsync("_CoinWidget", (Model, "usd"))
        </div>
        <div class="col">
            @await Html.PartialAsync("_ExchangeWidget", (Model, "usd"))
        </div>
    </div>
</div>