@*@model I_subheader-coins *@

<div class="dc-subheader-coins">
    <div class="row">
        <div class="col">
            @await Html.PartialAsync("_Breadcrumbs", new[] { "Exchange Rates" })
        </div>
    </div>
    <h1 class="dcg-h1">Currencies <strong>available</strong> for exchange on Atomex</h1>
    <p class="dc-subheader-coins__desc">
        Check out the list of cryptocurrencies available for limitless swaps. Buy/Sell pairs? Fixed rate exchange flow? Assets available for debit/credit card purchase? We've got it all — right here.
    </p>
</div>