// /*.....................................*/
// /* TEMPLATE: subheader-main */
.dc-subheader-main {
    margin-top: 45px;

    &::after {
        content: "";
        clear: both;
        display: block;
    }

    .dcg-h1 {
        float: left;
        width: 590px;
        padding-top: 30px;
        margin-bottom: 0;
    }

    .dc-page-head-main {
        float: left;
        width: 700px;
    }

    .dc-exchange-widget {
        margin-left: auto;
    }

    @include media-breakpoint-down (lg) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .dcg-h1 {
            margin-bottom: 30px;
            text-align: center;
            width: 710px;
        }

        .dc-exchange-widget {
            margin-left: 0;
        }
    }

    @include media-breakpoint-down (md) {
        .dcg-h1 {
            width: 100%;
            padding: 0;
        }
    }

    @include media-breakpoint-down (xs) {
        margin-top: 0 !important;

        .dcg-h1 {
            margin-top: 10px;
            font-family: Nunito;
            font-size: 26px;
            line-height: 35px;
            letter-spacing: 0em;
            text-align: center;
            width: 100%;
        }
    }
}
// /* /TEMPLATE: subheader-main */
// /*.....................................*/
