<div class="dc-subheader-main">
    <h1 class="dcg-h1">Exchange <strong>anonymously</strong> any volume with guaranteed fixed rate</h1>
    @await Html.PartialAsync("_HeadAdvantages")
    @await Html.PartialAsync("_ExchangeWidget", ("btc", "eth"))
</div>