@model ITableVM

<div class="dc-table dcg-tpg">
    <table>
        <tr>
            @{
                int counter = Model.keys.Count();
            }
            @foreach(string title in Model.keys)
            {
                if (--counter == 0)
                {
                    <th>@title</th>
                }
                else
                {
                    <th><a href="#">@title</a></th>
                }
            }
        </tr>
        
        @foreach (var row in Model.rows)
        {
            <tr>
                @foreach(var value in row)
                {
                    <td>@value</td>
                }
            </tr>
        }
    </table>
</div>
