@model ITableVM

<div class="dc-table">
    <table>
        <tr>
            @foreach(string title in Model.keys)
            {
                <th>@title</th>
            }
        </tr>
        
        @foreach (var row in Model.rows)
        {
            <tr>
                @foreach(var value in row)
                {
                    <td>@value</td>
                }
            </tr>
        }
    </table>
</div>
