@model (string title, string text)

<div class="dc-text-block dcg-tpg">
    @if (Model.title != "")
    {
        <h2 class="dcg-h2">@Model.title</h2>
    }
    <div class="dc-text-block__content">
        @Html.Raw(Model.text)
    </div>
</div>
