/*.....................................*/
/* CLASSES */
/* bootstrap */

/* /bootstrap */
/*.....................................*/
// test


.dc-bg-red { background: red; }
.dc-cl-red { color: red; }

.dc-bg-green { background: green; }
.dc-cl-green { color: green; }

.dc-bg-blue { background: blue; }
.dc-cl-blue { color: blue; }
// /test
/*.....................................*/
html, body {}

body {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    @include media-breakpoint-down (sm) {
    }
}

ul, li {}

a {
    cursor: pointer;
    text-decoration: none;
    color: #0056B3;

    img {
        width: 14px;
        height: 8px;
    }

    &:hover {
        text-decoration: none;
    }

    &:visited {
        color: #004188;
    }

    @include media-breakpoint-down (sm) {
    }
}
/*.....................................*/
/* Стили для всех заголовков */
@include dc-titles {

    @include media-breakpoint-down (sm) {

    }
}

h1, .dcg-h1 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #FFF;

    @include media-breakpoint-down (xs) {
        font-size: 28px;
    }
}

h2, .dcg-h2 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #212529;

    @include media-breakpoint-down (xs) {
        font-size: 26px;
    }
}

h3, .dcg-h3 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #212529;

    @include media-breakpoint-down (xs) {
        font-size: 18px;
    }
}

h4, .dcg-h4 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;

    @include media-breakpoint-down (sm) {
    }
}
h5, .dcg-h5 {

    font-family: 'Nunito';
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
    text-align: left;

    @include media-breakpoint-down (sm) {
    }
}
/*.....................................*/
/* button, [type="button"], [type="submit"], [type="reset"], .dcg-btn */
@include dc-btns {
    cursor: pointer;
    color: #FFFFFF;
    border-radius: 7px;

    &:hover {
    }

    &.dcg-btn_light {
        background: #0FD4E2;

        &:hover {
            background: #11BDC9;
        }
    }

    &.dcg-btn_dark {
        background: #0056B3;

        &:hover {
            /*background: ;   ? */
        }
    }

    &.dcg-btn_color {

        &:hover {
        }
    }

    &.dcg-btn_big {
        width: 265px;
        height: 50px;
    }

    &.dcg-btn_small {
        width: 225px;
        height: 40px;
        display: flex;
        text-align: center;
        background: #0056B3;
        color: #fff;
        margin-top: 15px;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.2px;

        svg {
            width: 16px;
            height: 16px;
            fill: #fff;
            margin-right: 9px;
        }

        &:hover {
            background: #3665ac;
        }
    }

    &.dcg-btn_pag {
        border: 1.5px solid #ADADAD;
    }

    &.dcg-btn_pag-active {
        border: 1.5px solid #0056B3;
    }

    &.dcg-btn_pag-dotts {
        color: #212529;
        border: 0;
    }


    @include media-breakpoint-down (xs) {
        &.dcg-btn_big {
            width: 100%;
        }
    }
}
/* /button, [type="button"], [type="submit"], [type="reset"], .ssg-button */
/*.....................................*/
/* [type="text"], [type="email"], [type="password"], textarea, select */
@include dc-inps {
    border-radius: 7px;
    background: #F0F0F0;
    text-align: left;
    padding: 11px 12px 10px 20px;
    height: 40px;
    border: 0;

    &::-webkit-input-placeholder {
    }

    &::-moz-placeholder {
    }

    &:-moz-placeholder {
    }

    &:-ms-input-placeholder {
    }

    &:focus {
    }

    &.dcg-input_light {

        &:focus {
        }
    }

    &.dcg-input_dark {

        &:focus {
        }
    }

    &.dcg-input_color {

        &:focus {
        }
    }

    &.dcg-input_big {
        width: 910px;
    }

    &.dcg-input_middle {
        width: 550px;
    }

    &.dcg-input_small {
        width: 305px;
    }

    @include media-breakpoint-down (md) {
        
    }
}

textarea {}
/* /[type="text"], [type="email"], [type="password"], textarea, select */
/*.....................................*/
/* section - блоки сайта */
.dcg-section {
    color: #63696F;
    padding: 80px 0;

    a {
        font-weight: 700;
    }

    h2 {
        text-align: center;
        padding: 0 0 30px 0;
    }

    &_subheader {
        padding: 100px 0 93px 0;
    }

    & + & {
    }

    &_dark {
    }

    &_gray {
        background: #F8F8F8;
    }

    &_light {
        background: #F9F9F9;
    }

    &_clr {
        background: #3665AC;
    }

    &_alert {
    }

    &_error {
    }

    &_accent {
    }

    &_text {
    }

    &_text_downrate {
        color: #EA3F3F;
    }

    &_text_uprate {
        color: #28A745;
    }

    &_original {
    }

    &_translate {
    }

    &_translucent {
    }

    &__head {
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 30px 0;

        .dcg-h2 {
            font-size: 32px;
            margin: 0;
            padding: 0;
        }
    }

    &__foot {
        display: none;

        .dcg-btn {
            margin: auto;
        }
    }

    &__head, &__foot {
        .dcg-btn {
            cursor: pointer;
            color: #FFFFFF;
            border-radius: 7px;
            background: #0FD4E2;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background: #11BDC9;
            }
        }

        .dcg-icon-arrow-right {
            margin-left: 7px;
        }
    }


    @include media-breakpoint-down (lg) {

        .container {
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    @include media-breakpoint-down (md) {
        padding: 40px 0;

        &_subheader {
            padding: 100px 0 93px 0;
        }

        &__head {
            justify-content: center;

            .dcg-btn {
                display: none;
            }
        }

        &__foot {
            display: block;
            margin-top: 40px;
        }
        /*&__adaptive {
            padding: 80px 0;
        }*/
    }

    @include media-breakpoint-down (sm) {
        &_subheader {
            padding: 140px 0 133px 0;
        }

        & + & {
        }

        &_subheader {
            padding-top: 100px;
        }
        /*.container {
            padding-left: 0;
            padding-right: 0;
        }*/
    }

    @include media-breakpoint-down (xs) {

        & + & {
        }

        &__head {
            .dcg-h2 {
                font-size: 26px;
            }
        }
    }
}
/* /section */
/*.....................................*/
/* common */
.dcg-shadow, .dcg-shadow-hover:hover{
    box-shadow: 0px 10px 30px 0px #2125291F;
}
.dcg-shadow-md {
    box-shadow: unset;
    
    @include media-breakpoint-down (md) {
        box-shadow: 0px 10px 30px 0px #2125291F;
    }
}
/*.....................................*/
.dcg-active {
    color: #0FD4E2;
}

/*.....................................*/
.dcg-icon-arrow-right {
    width: 15px;
    height: 15px;
}
.dcg-arrow-change{
    width: 13px;
    height: 8px;
}
/*.....................................*/

.dcg-value-up {
    
    color: #28A745;
    font-weight: 600;

    &::after {
        content: "▲";
        margin-left: 6px;
    }
}
.dcg-value-down {
    color: #EA3F3F;
    font-weight: 600;

    &::after {
        content: "▼";
        margin-left: 6px;
    }
}
/*.....................................*/
.dcg-desc-wrapper {
    &_coin {
        width: 680px;
    }

    &_coin-pair {
        width: 530px; //
    }

    @include media-breakpoint-down (lg) {

        &_coin-pair {
            width: 100%; //
        }
    }

    @include media-breakpoint-down (md) {
        &_coin {
            width: 100%;
        }

    }
}
/*.....................................*/
.dcg-toggle {
    

    &_view {
    }

    &_hide {
        display: none;
    }
}
/*.....................................*/

/* /common */
/* /CLASSES */
/*------------------------------------------------------------*/
