//-------------------------------------------------------------
// Возвращает селектор всех текстовых полей
@mixin dc-inps () {
    $css: '';
    $i: 0;

    @each $item in $dc-inps-css {
        @if ($i > 0) { $item: ', ' + $item; }
        $css: $css + $item;
        $i: $i + 1;
    }

    #{$css} {
        @content;
    }
}
//-------------------------------------------------------------
// Возвращает селектор всех кнопок
@mixin dc-btns () {
    $css: '';
    $i: 0;

    @each $item in $dc-btns-css {
        @if ($i > 0) { $item: ', ' + $item; }
        $css: $css + $item;
        $i: $i + 1;
    }

    #{$css} {
        @content;
    }
}
//-------------------------------------------------------------
// Возвращает селектор всех заголовков (.dcg-h1, ..., .dcg-h6)
@mixin dc-titles () {
    $titles: '';
    @for $i from 1 through 6 {
        $title: 'h' + $i + ',.dcg-h' + $i;
        @if ($i > 1) { $title: ', ' + $title; }
        $titles: $titles + $title;
    }

    #{$titles} {
        @content;
    }
}
//-------------------------------------------------------------
