// /*.....................................*/
// /* TEMPLATE: about-small */
.dc-about-small {

    width: 80%;

    .dcg-h3 {
        color: #FFF;
        font-size: 20px;
    }

    &__content {
        color: #a0b6d8;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: -0.25px;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: about-small */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: advantage */
.dc-advantage {
    padding: 10px;

    &__image-wrapper {
        svg {
            width: 40px;
            height: 40px;
            fill: #3665ac;
        }
    }

    .dcg-h3 {
        margin-bottom: 12px;
        margin-top: 9px;
    }

    &__text {
        line-height: 1.5;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: advantage */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: advantages */
.dc-advantages {
    .dcg-h2 {
        padding-bottom: 0;
        margin-bottom: 7px;
    }

    &__desc {
        text-align: center;
        font-size: 20px;
        margin-bottom: 46px;
    }

    .dc-advantage {
        margin-top: 20px;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: advantages */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: auth */
.dc-auth {
    padding-top: 3px;
    padding-left: 11px;
    width: max-content;

    &__auth {
        border: 0;
        background: transparent;

        svg {
            color: #FFF;
            width: 20px;
            display: inline-block;
            height: 40px;
            padding-right: 5px;
            padding-bottom: 1px;
        }
    }

    @include media-breakpoint-down (md) {
        display: none;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: auth */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: breadcrumbs */
.dc-breadcrumbs {
    padding-bottom: 22px;

    &__breadcrumb {
        display: inline-block;

        a, span {
            color: #CBCBCB;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0.2px;
        }
    }

    .dcg-icon-arrow-right {
        width: 17px;
        height: 17px;
        margin: 0px 10px 3px 10px;
    }

    @include media-breakpoint-down (md) {
        display: none;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: breadcrumbs */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: coin */
.dc-coin {

    img {
        width: 30px;
        height: 30px;
    }

    &__link {
        display: flex;
        align-items: center;
    }

    .dcg-h3 {
        margin-left: 10px;
        margin-bottom: 0;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0;
        margin-top: 1px;
    }

    .dcg-icon-arrow-right {
        display: none;
        margin-right: 4px;
    }

    

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: coin */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: coin-info */
.dc-coin-info {
    table td:first-child {
        width: 185px;
    }

    @include media-breakpoint-down (md) {
        margin-top: 20px;

        table td {
            width: 320px;
        }

        table td:first-child {
            width: 320px;
        }
    }

    @include media-breakpoint-down (sm) {

        table td {
            width: 175px;
        }

        table td:first-child {
            width: 175px;
        }
    }
}
// /* /TEMPLATE: coin-info */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: coin-pair */
.dc-coin-pair {
    margin-top: 26px;
    width: 265px;
    height: 130px;
    position: relative;
    border-radius: 7px;

    &__wrapper {
        width: 265px;
        height: 190px;
        padding: 10px 20px;
        border-radius: 7px;
        background: #fff;
    }

    .dcg-icon-arrow-right {
        margin: 17px 7px 0 0px;
    }

    &__head {
        display: flex;
        justify-content: space-between;
    }

    &__coin {
        display: flex;
        flex-direction: column;
        padding: 8px 7px;
        margin-bottom: 3px;
    }

    &__coin-head {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;

        img {
            width: 30px;
            height: 30px;
        }
    }

    &__value {
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    .dcg-h3 {
        font-size: 20px;
        margin: 0 0 0 10px;
    }

    .dcg-btn {
        display: none;
    }

    &:hover {
        z-index: 100;

        .dcg-btn {
            display: flex;
        }
    }

    @include media-breakpoint-down (lg) {
        &:hover &__wrapper {
            position: absolute;
            z-index: 100;
        }
    }

    @include media-breakpoint-down (md) {
        height: auto;
        margin-left: auto;
        margin-right: auto;
        width: 100%;

        &__wrapper {
            position: relative;
            z-index: 100;
            width: 100%;
        }

        .dcg-btn {
            display: flex;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }

        &__head {
            justify-content: center;
        }
    }
}
// /* /TEMPLATE: coin-pair */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: coin-pair-info */
.dc-coin-pair-info {
    padding-bottom: 40px;

    table td:nth-child(3) {
        text-align: left !important;
    }

    table td:nth-child(2) {
        width: 130px;
    }

    table td:first-child {
        width: 185px;
    }

    @include media-breakpoint-down (md) {
        margin-top: 20px;

        table td:nth-child(3), table td:nth-child(2), table td:first-child {
            width: max-content;
        }

        @include media-breakpoint-down (sm) {
            
        }
    }
}
// /* /TEMPLATE: coin-pair-info */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: coin-pairs */
.dc-coin-pairs {
    .dcg-h2 {
    }

    .dc-coin-pairs__grid-column {
    }

    .dcg-section__head {
        margin-bottom: 12px;
        padding-bottom: 0;
    }

    .dcg-icon-arrow-right {
        margin-left: 11px;
        margin-bottom: 1px;
    }


    .dcg-btn_big {
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: coin-pairs */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: coins */
.dc-coins {
    .dcg-h2 {
    }

    .dc-coin {
        width: 265px;
        min-height: 60px;
        margin-bottom: 10px;
        background: #fff;
        border-radius: 7px;
        margin-top: 0px !important;

        &__link {
            padding: 15px;
            position: relative;
            align-items: flex-start;
        }

        &:hover {
            .dcg-icon-arrow-right {
                display: inline-block;
            }
        }

        .dcg-h3 {
            padding-right: 20px;
            margin-top: 0 !important;
        }

        .dcg-icon-arrow-right {
            position: absolute;
            right: 15px;
            top: 25px;
        }
    }

    .dcg-icon-arrow-right {
        margin-left: 7px;
    }


    &__list {
        justify-content: space-between;
        padding-top: 8px;
    }

    @include media-breakpoint-down (md) {
        .dc-coin {
            width: auto;
            min-height: 85%;

            .dcg-icon-arrow-right {
                display: inline-block;
            }
        }
    }

    @include media-breakpoint-down (xs) {
        .dc-coin {
            min-height: 60px;
        }
    }
}
    // /* /TEMPLATE: coins */
    // /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: coin-widget */
.dc-coin-widget {
    text-align: center;

    &__wrapper {
        border-radius: 7px;
        overflow: hidden;
        height: 271px;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: coin-widget */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: contacts */
.dc-contacts {
    .dcg-h3 {
        color: #FFF;
        font-size: 20px;
    }

    .dcg-h3 ~ .dcg-h3 {
        padding-top: 5px;
    }

    a {
        color: #c0cee5;
        font-weight: 700;
        letter-spacing: -0.9px;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: contacts */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: copyright */
.dc-copyright {
    margin-top: 45px;
    letter-spacing: -0.5px;

    &__content {
    }

    @include media-breakpoint-down (sm) {
        font-size: 13px;
    }
}
// /* /TEMPLATE: copyright */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: desc */
.dc-desc {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: desc */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: exchange-widget */
.dc-exchange-widget {
    border-radius: 7px;
    width: 396px !important;

    /*iframe {
        height: 391px !important;
    }*/

    @include media-breakpoint-down (lg) {
    }

    @include media-breakpoint-down (md) {
        /*iframe {
            height: 387px !important;
        }*/
    }

    @include media-breakpoint-down (sm) {
        width: 100% !important;
    }

    @include media-breakpoint-down (xs) {
        /*height: 370px;*/
    }
}
// /* /TEMPLATE: exchange-widget */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: faq */
.dc-faq {

    &-item {
        margin-left: auto;
        width: 680px;
        margin-bottom: 20px;
        border-bottom: 1px solid #ECECEC;

        .dcg-h3 {
            padding: 0;
            text-align: start;
        }

        &__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            width: 100%;
            border: 0;
            background: unset;

            &_opened {
                .dcg-toggle_view {
                    display: none !important;
                }

                .dcg-toggle_hide {
                    display: inline-block !important;
                }
            }

            svg {
                width: 18px;
                height: 18px;
            }

            .dcg-h3 {
                margin-bottom: 0;
            }
        }



        &__content {
            display: none;
            padding-right: 10px;
            padding-left: 0px;

            &_opened {
                display: block;
            }
        }

        .dcg-toggle {
            width: 20px;
            height: 20px;
            margin-left: 15px;
        }
    }

    @include media-breakpoint-down (lg) {
        &-item {
            width: 570px;
        }
    }

    @include media-breakpoint-down (md) {
        &-item {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
        }
    }

    @include media-breakpoint-down (sm) {
    }

    @include media-breakpoint-down (xs) {
        .dcg-h3 {
            font-size: 20px;
            width: 100%;
        }
    }
}
    // /* /TEMPLATE: faq */
    // /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: footer */
.dc-footer {
    width: 100%;
    bottom: 0;
    background: #3665AC;
    color: #FFFFFF;
    letter-spacing: -0.4px; /* ??? */
    font-size: 15px;
    padding: 34px 0 60px 0;

    @include media-breakpoint-down (md) {
        padding-bottom: 20px;
        padding-top: 42px;

        .dc-soc-icons {
            margin-top: 20px;
        }

        .dc-copyright {
            margin-top: 60px;
        }
    }
}
// /* /TEMPLATE: footer */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: guide */
.dc-guide {
    width: 265px;
    min-height: 90%;
    border-radius: 7px;
    padding: 8px 20px;
    background: #fff;

    .dcg-h3 {
        padding-top: 7px;
        padding-left: 10px;
        width: 175px;
    }

    &__head {
        display: flex;
        align-items: center;
        margin-bottom: 6px;

        img {
            width: 90px;
            height: 90px;
        }
    }

    &__content {
        margin-bottom: 15px;
    }

    @include media-breakpoint-down (md) {
        width: 100%;
    }
}
// /* /TEMPLATE: guide */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: guide-list */
.dc-guide-list {
    .dcg-h2 {
        text-align: left;
        padding-bottom: 10px;
    }

    .dc-guide{
        margin-top: 20px;
    }
    
    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: guide-list */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: head */
.dc-head {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: head */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: head-advantages */
.dc-head-advantages {
    width: 590px;
    float: left;

    &__list {
        margin-top: 39px;
        font-size: 20px;
        letter-spacing: 0.2px;


        li ~ li {
            margin-left: 20px;
        }
    }

    &__advantage {
        display: flex;
        line-height: 1.3;
    }

    &__done {
        background: white;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        text-align: center;
        margin-right: 12px;
        margin-top: 1px;

        svg {
            width: 14px;
            height: 14px;
            fill: green;
            margin-bottom: 8px;
        }
    }

    &__text {
        color: #FFF;
    }

    &__text-light {
        color: #CBCBCB;
    }

    @include media-breakpoint-down (lg) {
        width: 300px;

        &__list {

            li ~ li {
                margin-left: 0;
                margin-top: 40px;
            }
        }
    }

    @include media-breakpoint-down (sm) {
        width: 100%;

        &__list {
            margin-top: 0;
            margin-bottom: 40px;

            li ~ li {
                margin-left: 0;
                margin-top: 40px;
            }
        }
    }

    @include media-breakpoint-down (xs) {

        &__list {
            font-size: 14px;
            margin-top: 0;
            margin-bottom: 30px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;


            li ~ li {
                margin-top: 0;
            }
        }

        &__advantage {
            flex-direction: column;
        }

        &__done {
            width: 15px;
            height: 15px;
            margin-bottom: 5px;
            margin-right: 0;
        }
    }
}
    // /* /TEMPLATE: head-advantages */
    // /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: header */
.dc-header {
    background: #3665AC;
    color: #FFFFFF;
    padding: 30px 0;
    position: fixed;
    width: 100%;
    z-index: 200;

    a {
        color: #FFFFFF;

        :hover {
            color: #0FD4E2;
        }
    }

    @include media-breakpoint-down (md) {
        
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: header */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: layout */
.dc-layout {

    @include media-breakpoint-down (md) {
        .container {
        }
    }

    @include media-breakpoint-down (xs) {
        /*.container {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }*/
    }
}
// /* /TEMPLATE: layout */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: logo */
.dc-logo {

    img {
        width: 179px;
        height: 45px;
    }

    @include media-breakpoint-down (sm) {
        /*padding-left: 10px;*/
    }
}
// /* /TEMPLATE: logo */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: main-menu */
.dc-main-menu {
    letter-spacing: 0px;
    margin-left: 27px;
    height: max-content;
    display: block;
    background: #3665ac;
    position: relative;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 0;
    padding-bottom: 0;


    &_opened {
        box-shadow: 0px 10px 30px 0px #2125291F;
    }

    &__nav {
        padding: 12px 0px 0 0;
    }

    .nav {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;

        li {
            padding: 0 3px;

            a:hover {
                color: #0FD4E2;
            }
        }
    }

    &__login {
        display: none;
    }

    &__hamburger-open, &__hamburger-close {
        display: none;
        background: transparent;
        border: 0;
        margin-top: 3px;

        svg {
            width: 30px;
            height: 30px;
            fill: #fff;
        }
    }

    &__hamburger-close {
        svg {
            filter: invert(1);
        }
    }

    @include media-breakpoint-down (lg) {
        &__hamburger-open, &__hamburger-close {
            display: none;
        }
    }

    @include media-breakpoint-down (md) {
        margin-left: 0;
        height: max-content;
        display: flex;
        align-items: self-start;
        justify-content: flex-end;
        background: #3665ac;
        position: absolute;
        right: 0;
        top: 0;
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 7px;
        padding-left: 36px;
        padding-bottom: 5px;

        &__nav {
            padding: 0;
            width: max-content;
            justify-content: center;
        }

        .nav {
            flex-direction: column;
            width: 100%;
            display: none;
        }

        li {
            padding: 12px 30px 12px 30px !important;
            width: 100%;
            text-align: right;
        }

        li:first-child {
            padding-top: 8px !important;
        }

        li ~ li {
            border-top: 1px solid ghostwhite;
            border-style: dotted;
        }

        &__login {
            display: list-item;
        }

        &__hamburger-open {
            display: inline-block;
        }

        &__hamburger-close {
            display: none;
        }
    }

    @include media-breakpoint-down (xs) {
        position: fixed;
        right: 5px;
        top: 30px;
    }
}
// /* /TEMPLATE: main-menu */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: market-coin-pairs */
.dc-market-coin-pairs {
    border-radius: 7px;
    padding: 20px;
    margin-top: -160px;
    background: #fff;
    padding-bottom: 0;

    .dcg-h3 {
        line-height: 20px;
    }

    .dcg-h2 {
        width: 290px;
        padding: 0;
        margin: 0;
    }

    .dc-market-search {
        width: 550px;
    }

    &__to-arrow {
        text-align: center;
    }

    .dc-table {
        th svg {
            width: 11px;
            height: 14px;
            margin-left: 7px;
        }

        th {
            font-weight: 400 !important;
        }

        th {
            width: max-content;
        }

        td {
            position: relative
        }

        th:nth-child(3) {
            width: 230px;
            text-align: center;
        }

        th:nth-child(4) {
            text-align: left;
        }

        th:nth-child(2), th:nth-child(5), td:nth-child(2), td:nth-child(5) {
            text-align: right;
        }

        th:nth-child(1), th:nth-child(4) {
            width: 250px;
        }

        th:last-child {
            text-align: end;
            width: 165px;
            padding-right: 28px !important;
        }
    }

    .dc-market-search {
        .dc-market-search__wrapper {
            width: 100%;
            margin-left: auto;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        .dcg-btn {
            display: none;
        }

        svg {
            margin-right: 6px !important;
        }
    }

    &__exchange {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 38px;

        &-btn {
            background: #0056B3;
            width: 110px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            display: none;
            position: absolute;
            left: 33%;
            top: 33%;
        }
        /*&-cycle {
            margin-left: 30px;
        }*/

        &-btn:hover {
            color: #fff;
        }

        svg {
            width: 16px;
            height: 16px;
            margin-left: 20px;
        }

        &:hover svg {
            display: none;
        }

        &:hover .dc-market-coins__exchange-btn {
            display: flex;
            margin-left: 15px;
        }
    }

    &__no-results {
        padding: 130px 0 150px 0;
        text-align: center;
    }

    @include media-breakpoint-down (xl) {
        &__exchange {
            svg {
                margin-left: 20px;
            }
        }
    }

    @include media-breakpoint-down (lg) {
        &__exchange {
            svg {
                margin-left: 55px;
            }
        }

        .dc-table {
            th:last-child {
                padding-right: 18px !important;
            }
        }

        .dc-market-coins__exchange-cycle {
            margin-left: 0;
        }
    }


    @include media-breakpoint-down (md) {
        margin-top: -125px;
        width: 728px;

        .dc-market-search {
            .dc-market-search__wrapper {
                width: 305px;
                margin-left: auto;
            }
        }

        .dcg-h2 {
            width: 400px;
        }

        .dc-table {
            th:nth-child(1), th:nth-child(4) {
                width: 110px;
            }

            th:nth-child(2), th:nth-child(5) {
                width: 99px;
            }

            th:nth-child(3) {
                width: 104px;
            }

            th:last-child {
                width: 104px !important;
                padding-right: 0px !important;
            }
        }

        &__exchange {
            svg {
                margin-left: 55px;
            }

            &-cycle {
                margin-left: 0;
                padding-right: 0;
            }

            .dc-market-coins__exchange-cycle {
                padding-right: 0;
            }

            svg {
                margin-left: 41px;
            }

            &:hover svg {
                display: inline;
            }

            &:hover .dc-market-coins__exchange-btn {
                display: none;
            }
        }

        &__header {
            margin-bottom: 7px;
        }
    }

    @include media-breakpoint-down (sm) {
        width: 100%;

        .dcg-h2 {
            display: none;
        }

        .dc-market-search {
            .dc-market-search__wrapper {
                width: 100%;
            }
        }

        .dc-table {
            .dcg-h3 {
                margin-left: 5px;
            }

            th:nth-child(1), th:nth-child(4) {
                width: 60px;
            }

            th:nth-child(2), th:nth-child(5), td:nth-child(2), td:nth-child(5) {
                display: none;
            }

            th:nth-child(3) {
                width: 60px;
            }

            th:last-child {
                width: 60px !important;
            }
        }

        &__exchange {
            justify-content: end;

            svg {
                margin-left: 0px;
                margin-right: 20px;
            }
        }

        &__header {
            margin-bottom: 2px;
        }
    }

    @include media-breakpoint-down (xs) {
        .dc-table {
            td {
                font-size: 13px;
            }
        }

        .dc-coin {
            img {
                width: 20px;
                height: 20px;
            }

            .dcg-h3 {
                font-weight: 400;
                font-size: 13px;
            }
        }

        &__exchange {

            
        }

        &:hover svg {
            display: inline-block;
        }

        &:hover &__exchange-btn {
            display: none;
        }
    }
}
// /* /TEMPLATE: market-coin-pairs */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: market-coins */
.dc-market-coins {
    border-radius: 7px;
    padding: 20px;
    margin-top: -160px;
    background: #fff;
    padding-bottom: 0;

    .dcg-h3 {
        line-height: 20px;
    }

    .dc-table {
        th svg {
            width: 11px;
            height: 14px;
            margin-left: 7px;
        }

        th a {
            font-weight: 400 !important;
        }

        th {
            width: max-content;
        }

        td {
            position: relative
        }

        th:last-child {
            text-align: end;
            padding-right: 26px;
            width: 145px;
        }

        th:nth-child(2) {
            width: 250px;
        }

        th:nth-child(7), td:nth-child(7) {
            display: none;
        }
    }

    &__sort-by {
        position: relative;
    }

    &__sort-by-btn {
        font-size: 14px;
        font-weight: 400 !important;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        width: 110px;
        border: 0;
        background: unset;
        color: black;
    }

    &__sort-by-list {
        /*display: none;*/
        position: absolute;
        background: #fff;
        border: 1px solid #ECECEC;
        border-top: 0;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        margin: 0;
        z-index: 1;

        li {
            overflow: hidden;
            a {
                font-size: 15px;
                color: #000;
                font-weight: 400;
                padding: 10px;
                text-align: right;
                display: inline-block;
                width: 100%;
                height: 100%;
            }

            a:hover {
                background: #0FD4E2;
            }

            li {
                padding: 10px;
                text-align: right;

                a {
                    font-size: 15px;
                    color: #000;
                    font-weight: 400;
                }
            }

            li ~ li {
                border-top: solid 1px #ECECEC;
            }
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 28px;

        .dcg-btn {
            display: none;
        }

        svg {
            width: 13px;
            height: 6px;
        }
    }

    .dc-market-search {
        &__wrapper {
            width: 910px;
            margin-left: auto;
        }
    }

    &__exchange {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 38px;

        &-btn {
            background: #0056B3;
            width: 110px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            display: none;
            position: absolute;
            left: 24%;
            top: 26%;
        }

        &-cycle {
            margin-left: 30px;
        }

        &-btn:hover {
            color: #fff;
        }

        svg {
            width: 16px;
            height: 16px;
        }

        &:hover svg {
            display: none;
        }

        &:hover &-btn {
            display: flex;
        }
    }

    &__no-results {
        padding: 130px 0 150px 0;
        text-align: center;
    }

    @include media-breakpoint-down (xl) {

        .dc-table {
            th:last-child {
                width: 145px;
            }
        }
    }

    @include media-breakpoint-down (lg) {
        &__exchange {
            svg {
                margin-left: 0;
            }
        }

        .dc-market-search {
            &__wrapper {
                width: 745px;
            }
        }
    }


    @include media-breakpoint-down (md) {
        margin-top: -125px;
        width: 728px;

        &__sort-by {
            width: max-content;
        }

        .dc-market-search {
            &__wrapper {
                width: 475px;
                margin-right: auto;
            }
        }

        .dcg-h2 {
            width: 400px;
        }

        .dc-table {
            th:nth-child(1) {
                width: 30px;
            }

            th:nth-child(2) {
                width: 133px;
            }

            th:nth-child(3) {
                width: 100px;
            }

            th:nth-child(4), td:nth-child(4) {
                display: none;
            }


            th:nth-child(5) {
                width: 180px;
            }

            th:last-child {
                width: 102px !important;
                padding-right: 0px !important;
            }
        }

        &__exchange {
            &-cycle {
                margin-left: 0;
            }

            svg {
                margin-left: 41px;
            }

            &:hover svg {
                display: inline;
            }

            &:hover &-btn {
                display: none;
            }
        }

        &__header {
            margin-bottom: 10px;
        }
    }

    @include media-breakpoint-down (sm) {
        width: 100%;

        .dcg-h2 {
            display: none;
        }


        .dc-market-search {
            &__wrapper {
                width: 375px;
            }
        }

        .dc-table {
            .dcg-h3 {
                margin-left: 5px;
            }

            th:nth-child(2) {
                width: 60px;
            }

            th:nth-child(3), td:nth-child(3), th:nth-child(6), td:nth-child(6), th:nth-child(1), td:nth-child(1) {
                display: none;
            }

            th:nth-child(5) {
                width: 100px;
            }

            th:last-child {
                width: 60px !important;
            }

            th:nth-child(7), td:nth-child(7) {
                width: 90px;
                display: table-cell;
            }
        }

        &__exchange {
            svg {
                margin-left: 16px;
            }
        }

        &__header {
            margin-bottom: 2px;
        }
    }

    @include media-breakpoint-down (xs) {

        .dc-market-search {
            width: 60%;

            &__wrapper {
                width: 100%;
            }
        }

        .dc-coin {
            img {
                width: 20px;
                height: 20px;
            }

            .dcg-h3 {
                font-weight: 400;
                font-size: 13px;
            }
        }

        &__exchange {
            svg {
                margin: auto;
                margin-left: 14px;
            }
        }

        .dc-table {

            th:last-child, td:last-child {
                display: none;
            }

            td {
                font-size: 13px;
                word-break: break-all;
            }

            th:nth-child(2) {
                width: 75px;
            }

            th:nth-child(5) {
                width: 90px;
            }
        }

        &:hover svg {
            display: inline-block;
        }

        &:hover .dcg-btn {
            display: none;
        }
    }
}
// /* /TEMPLATE: market-coins */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: market-search */
.dc-market-search {
    /*width: 910px;*/

    form {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__wrapper {
        width: 100%;
    }

    .dcg-inp {
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;

        &:focus-visible {
            outline: 0;
        }
    }

    .dcg-btn {
        display: inline-block;
        background: #F0F0F0;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
    }

    svg {
        width: 18px;
        height: 18px;
        margin-right: 2px;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: market-search */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: market-update */
.dc-market-update {
    .dcg-section__head {
        padding-bottom: 20px;
    }

    .dc-coin {
        .dcg-h3 {
            line-height: 20px;
        }
    }

    .dc-table {
        th svg {
            width: 11px;
            height: 14px;
            margin-left: 7px;
        }

        th a {
            font-weight: 400 !important;
        }

        th {
            width: max-content;
        }

        th:last-child {
            text-align: end;
            padding-right: 26px;
            width: 145px;
        }

        th:nth-child(2) {
            width: 225px;
        }

        th:nth-child(8), td:nth-child(8) {
            display: none;
        }
    }

    @include media-breakpoint-down (lg) {
        .dc-table {
            th:nth-child(2) {
                width: 150px;
            }
        }
    }

    @include media-breakpoint-down (md) {
        .dc-table {

            th:nth-child(4), td:nth-child(4), th:nth-child(5), td:nth-child(5), th:nth-child(9), td:nth-child(9) {
                display: none;
            }

            th:nth-child(2) {
                width: 225px;
            }

            th:last-child {
                width: 135px;
            }
        }
    }

    @include media-breakpoint-down (sm) {
        .dc-table {

            th:nth-child(2) {
                width: 225px;
            }

            th:nth-child(1), td:nth-child(1), th:nth-child(3), td:nth-child(3), th:nth-child(7), td:nth-child(7) {
                display: none;
            }

            th:nth-child(8), td:nth-child(8) {
                display: table-cell;
            }
        }
    }


    @include media-breakpoint-down (xs) {
        .dc-table {
            font-size: 13px;

            th:nth-child(2) {
                width: 110px;
            }



            .dc-coin {
                .dcg-h3 {
                    font-size: 13px;
                }

                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}
// /* /TEMPLATE: market-update */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: news-list */
.dc-news-list {
    .dcg-section__head {
        padding-bottom: 18px;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: news-list */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: news-sketch */
.dc-news-sketch {
    border-radius: 7px;
    background: #fff;
    margin-top: 20px;

    .dcg-icon-arrow-right {
        width: 18px;
        height: 16px;
        margin: 0px 0px 2px 2px;
    }

    &__image-wrapper {
    }

    &__content-wrapper {
        padding: 20px;
    }

    &__tags {
        display: flex;
    }

    &__tag {
        border: 1px solid #000;
        border-radius: 15px;
        text-transform: uppercase;
        font-size: 14px;
        padding: 4px 13px 3px 13px;
        text-align: center;
        display: flex;
    }

    &__tag ~ &__tag {
        margin-left: 8px;
    }

    .dcg-h3 {
        margin-top: 17px;
        margin-bottom: 17px;
        color: #000;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
    }

    &__text {
        color: #63696F;
    }

    &__details {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__date {
        display: flex;
        align-items: center;
        text-transform: uppercase;

        svg {
            width: 18px;
            height: 20px;
            margin-right: 8px;
        }

        span {
            font-weight: 700;
            font-size: 14px;
        }
    }

    &__link {
    }

    @include media-breakpoint-down (sm) {
        width: 340px;
        margin-left: auto;
        margin-right: auto;
    }
}
// /* /TEMPLATE: news-sketch */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: page-head-coins */
.dc-page-head-coins {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: page-head-coins */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: page-head-main */
.dc-page-head-main {

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: page-head-main */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: page-head-pair */
.dc-page-head-pair {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: page-head-pair */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: page-head-pairs */
.dc-page-head-pairs {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: page-head-pairs */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: pagination */
.dc-pagination {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;

    &__list {
        margin-bottom: 0;
    }

    &__list-item-wrapper {
        background: #fff;
        min-width: 50px;
        height: 50px;
        margin-top: 20px;
        display: inline-block;
    }

    &__list-item-wrapper ~ &__list-item-wrapper {
        margin-left: 15px;
    }

    &__item {
        width: 100%;
        display: flex;
        height: 100%;
        border-radius: 7px;
        align-items: center;
        justify-content: center;
        color: #000;
        padding: 0 10px;
        font-weight: 400 !important;
        border: 2px solid #ADADAD;

        &_active, &:hover {
            border: 2px solid #0056B3;
        }
    }


    @include media-breakpoint-down (sm) {

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            
        }
    }

    @include media-breakpoint-down (xs) {

        &__list {
        }

        &__list-item-wrapper {
            margin-top: 20px;
        }

        &__list-item-wrapper {
            min-width: 40px;
            height: 40px;
        }
    }
}
// /* /TEMPLATE: pagination */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: partners */
.dc-partners {
    .dcg-h2 {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    &__partner {
        margin-top: 55px;
        padding: 0px 7px;
        text-align: center;

        img {
            width: 265px;
        }
    }



    @include media-breakpoint-down (md) {
        &__partner {
            margin-left: auto;
            margin-right: auto;
        }
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: partners */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: section-text-block */
.dc-section-text-block {
    /*display: flex;*/

    .dcg-h2 {
        text-align: start;
        padding: 0;
    }

    &__content {
        margin-bottom: 0;
        margin-left: auto;
        padding-left: 60px;
    }


    @include media-breakpoint-down (md) {
        .dcg-h2 {
            margin-bottom: 38px;
            text-align: center !important;
        }
        
    }
}
// /* /TEMPLATE: section-text-block */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: section-text-blocks */
.dc-section-text-blocks {
    .dc-section-text-block {
        margin-bottom: 0;
    }

    .dc-text-block {
        margin-left: auto;
        width: 680px;

        .dcg-h2 {
            margin-bottom: 0;
        }
    }

    .dc-section-text-block + .dc-section-text-block {
        margin-top: 37px;
    }


    @include media-breakpoint-down (md) {
        /*.dc-section-text-block {
            .dcg-h2 {
                text-align: left;
            }
        }*/

        .dc-text-block {
            margin-left: 0;
            width: 100%;
        }
    }
}
// /* /TEMPLATE: section-text-blocks */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: service */
.dc-service {
    width: 360px;
    min-height: 100%;
    border-radius: 7px;
    padding: 8px 20px;
    background: #fff;
    margin-top: 20px;

    .dcg-h3 {
        padding-top: 7px;
        padding-left: 17px;
        width: 175px;
    }

    &__head {
        display: flex;
        align-items: center;
        margin-bottom: 6px;

        img {
            width: 93px;
            height: 93px;
        }
    }

    &__content {
    }

    &__details {

        svg {
            width: 18px;
            height: 15px;
            margin-left: 2px;
            margin-bottom: 4px;
        }
    }

    @include media-breakpoint-down (lg) {
        width: 300px;
    }

    @include media-breakpoint-down (md) {
        min-height: 275px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        min-height: unset;

        &__head {
            height: 90px;
        }

        &__content {
            width: 370px;
            padding-top: 12px;
            padding-bottom: 5px;
        }

        &__details {
            padding: 5px 0;
        }
    }

    @include media-breakpoint-down (sm) {
        width: 100%;
        display: block;

        &__head {
            height: auto;
        }

        &__content {
            width: 100%;
            padding-top: 12px;
            padding-bottom: 5px;
        }

        &__details {
            padding: 5px 0;
        }
    }
}
// /* /TEMPLATE: service */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: services */
.dc-services {

    .dcg-h2 {
        padding-bottom: 10px;
    }


    @include media-breakpoint-down (lg) {

    }

    @include media-breakpoint-down (md) {
        
    }

    @include media-breakpoint-down (sm) {

    }

    @include media-breakpoint-down (xs) {

    }
}
// /* /TEMPLATE: services */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: soc-icons */
.dc-soc-icons {
    .dcg-h3 {
        color: #FFF;
        font-size: 20px;
    }

    .dcg-h3 ~ .dcg-h3 {
        padding-top: 5px;
    }

    li {
        display: inline-block;
    }

    a {
        svg {
            color: #d6e0ee;
            width: 16px;
            margin-right: 16px;
            height: 16px;
            fill: #d6e0ee;
        }
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: soc-icons */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: subheader-coin */
.dc-subheader-coin {
    .dcg-h1 {
        margin-bottom: 39px;
    }

    .dc-exchange-widget {
        margin-left: auto;
    }

    @include media-breakpoint-down (lg) {
        .dcg-h1 {
            text-align: center;
            margin-top: 80px;
        }

        .dc-exchange-widget {
            margin: auto;
            margin-top: 20px;
        }
    }

    @include media-breakpoint-down (md) {
        .dcg-h1 {
            margin-top: 0;
        }
    }
}
// /* /TEMPLATE: subheader-coin */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: subheader-coin-pair */
.dc-subheader-coin-pair {
    .dcg-h1 {
        margin-bottom: 39px;
    }

    .dc-exchange-widget {
        margin-left: auto;
    }


    @include media-breakpoint-down (lg) {
        .dcg-h1 {
            text-align: center;
            margin-top: 80px;
        }

        .dc-exchange-widget {
            margin: auto;
            margin-top: 20px;
        }
    }

    @include media-breakpoint-down (md) {
        .dcg-h1 {
            margin-top: 0;
        }
    }
}
// /* /TEMPLATE: subheader-coin-pair */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: subheader-coin-pairs */
.dc-subheader-coin-pairs {
    margin-bottom: 75px;

    .dcg-h1 {
        text-align: center;
        width: 489px;
        margin: auto;
        margin-top: 45px;
    }

    &__desc {
        text-align: center;
        color: #FFF;
        width: 521px;
        margin: auto;
        margin-top: 18px;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0em;
    }

    @include media-breakpoint-down (lg) {
        padding: 0;
    }

    @include media-breakpoint-down (md) {
        margin-bottom: 25px;

        .dcg-h1 {
            margin-top: 20px;
        }

        &__desc {
            margin-top: 27px;
            line-height: 23px;
        }
    }

    @include media-breakpoint-down (sm) {
        margin-bottom: 0;
    }

    @include media-breakpoint-down (xs) {
        &__desc {
            width: 100%;
            margin-top: 30px;
            font-size: 15px;
            line-height: 20px;
            padding: 0 10px;
        }

        .dcg-h1 {
            margin-top: 10px;
            font-family: Nunito;
            line-height: 35px;
            letter-spacing: 0em;
            text-align: center;
            width: 100%;
        }
    }
}
// /* /TEMPLATE: subheader-coin-pairs */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: subheader-coins */
.dc-subheader-coins {
    margin-bottom: 75px;

    .dcg-h1 {
        text-align: center;
        width: 489px;
        margin: auto;
        margin-top: 45px;
    }

    &__desc {
        text-align: center;
        color: #FFF;
        width: 521px;
        margin: auto;
        margin-top: 18px;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0em;
    }

    @include media-breakpoint-down (md) {
        margin-bottom: 75px;

        .dcg-h1 {
            margin-top: 20px;
        }

        &__desc {
            margin-top: 27px;
            line-height: 23px;
        }
    }

    @include media-breakpoint-down (sm) {
        margin-bottom: 0;
    }

    @include media-breakpoint-down (xs) {
        &__desc {
            width: 100%;
            margin-top: 30px;
            font-size: 15px;
            line-height: 20px;
            padding: 0 10px;
        }

        .dcg-h1 {
            margin-top: 10px;
            font-family: Nunito;
            line-height: 35px;
            letter-spacing: 0em;
            text-align: center;
            width: 100%;
        }
    }
}
// /* /TEMPLATE: subheader-coins */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: subheader-main */
.dc-subheader-main {
    margin-top: 45px;

    &::after {
        content: "";
        clear: both;
        display: block;
    }

    .dcg-h1 {
        float: left;
        width: 590px;
        padding-top: 30px;
        margin-bottom: 0;
    }

    .dc-page-head-main {
        float: left;
        width: 700px;
    }

    .dc-exchange-widget {
        margin-left: auto;
    }

    @include media-breakpoint-down (lg) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .dcg-h1 {
            margin-bottom: 30px;
            text-align: center;
            width: 710px;
        }

        .dc-exchange-widget {
            margin-left: 0;
        }
    }

    @include media-breakpoint-down (md) {
        .dcg-h1 {
            width: 100%;
            padding: 0;
        }
    }

    @include media-breakpoint-down (xs) {
        /*padding: 0 20px;*/
        margin-top: 0 !important;

        .dcg-h1 {
            margin-top: 10px;
            font-family: Nunito;
            font-size: 26px;
            line-height: 35px;
            letter-spacing: 0em;
            text-align: center;
            width: 100%;
        }
    }
}
// /* /TEMPLATE: subheader-main */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: table */
.dc-table {
    .dcg-shadow-hover {
        box-shadow: unset;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: table */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: text-block */
.dc-text-block {


    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: text-block */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: text-blocks */
.dc-text-blocks {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: text-blocks */
// /*.....................................*/

/*.....................................*/
/* TEMPLATE: classes */
.dc-classes {
    // background: #e4e3e3;
    width: 1024px;
    margin: auto;
    section {
        text-align: center;
    }
    &__checkbox-wrapper {
        label {
            display: block;
        }
    }
    &__container {
        padding: 15px;
        text-align: center;
    }
    &__container-headline {
        text-align: center;
    }
    &__container-list {
        font-size: 20px;
    }
/*..................................... Buttons*/
.dcg-button {
    width: 150px;
    margin: 10px;
}
/*..................................... Inputs*/
.dcg-input {
    width: 200px;
    margin: 10px;
}
/*.....................................*/
    @include media-breakpoint-down (sm) {}
}
/* /TEMPLATE: classes */
/*.....................................*/

/*.....................................*/
/* TEMPLATE: _logo */
.dc-logo {}
/* /TEMPLATE: _logo */
/*.....................................*/

/*.....................................*/
/* TEMPLATE: _menu */
.dc-menu {

    display: flex;

    &__more {
        position: absolute;
        right: 5px;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        &::after {
            display: block;

        }
    }

    a {
        display: block;
        text-decoration: none;
        white-space: nowrap;

        transition-property: background, color;
    }

    li {
        position: relative;

        &:hover {
            .dc-menu__more {
                &::after {
                }
            }

            >a {
            }

            >ul {
                display: block;
            }
        }
    }

    >li {

        >a {
        }

        ul {
            position: absolute;
            display: none;
            min-width: 100px;

            >li:last-child>a {
            }
        }

        >ul {
            top: 100%;
            left: 0;

            ul {
                left: 100%;
                top: 0;
            }
        }

        &:hover {
            >.dc-menu__more {
                transform: rotate(180deg);
            }

            >a {
            }
        }
    }
}
/* /TEMPLATE: _menu */
/*.....................................*/
