// /*.....................................*/
// /* TEMPLATE: about-small */
.dc-about-small {

    width: 80%;

    .dcg-h3 {
        color: #FFF;
        font-size: 20px;
    }

    &__content {
        color: #a0b6d8;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: -0.25px;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: about-small */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: advantage */
.dc-advantage {
    &__image-wrapper {
        svg {
        }
    }

    .dcg-h3 {
    }

    &__text {
        a {
        }

        &_dark {
        }
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: advantage */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: advantages */
.dc-advantages {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: advantages */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: auth */
.dc-auth {
    padding-top: 3px;
    padding-left: 5px;
    width: max-content;

    &__auth {
        border: 0;
        background: transparent;

        svg {
            color: #FFF;
            width: 20px;
            display: inline-block;
            height: 40px;
            padding-right: 5px;
            padding-bottom: 1px;
        }
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: auth */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: breadcrumbs */
.dc-breadcrumbs {

    &__breadcrumb {
        display: inline-block;
        color: #CBCBCB;
        font-size: 14px;
        font-weight: 600;
    }

    .dcg-icon-arrow-right {
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: breadcrumbs */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: coin */
.dc-coin {
    width: 265px;
    height: 60px;
    padding: 15px;
    margin-bottom: 10px;

    .dc-coin__link {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .dcg-icon-arrow-right {
        display: none;
        margin-right: 4px;
    }

    img {
        width: 30px;
        height: 30px;
    }

    &__name {
        margin-right: auto;
        margin-left: 10px;
        letter-spacing: 0px;
        font-weight: 600;
    }

    &:hover {
        .dcg-icon-arrow-right {
            display: inline-block;
        }
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: coin */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: coin-info */
.dc-coin-info {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: coin-info */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: coin-pair */
.dc-coin-pair {
    margin-bottom: 26px;
    width: 265px;
    height: 190px;
    position: relative;
    margin-top: -60px;
    border-radius: 7px;
    background: #fff;

    &__wrapper {
        width: 265px;
        height: 190px;
        padding: 10px 20px;
        border-radius: 7px;
    }

    .dcg-icon-arrow-right {
        margin: 17px 7px 0 0px;
    }

    &__head {
        display: flex;
        justify-content: space-between;
    }

    &__coin {
        display: flex;
        flex-direction: column;
        padding: 8px 7px;
        margin-bottom: 3px;
    }

    &__change {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-val {
            font-weight: 600;
        }

        &_pos {
            color: #28A745;
        }

        &_neg {
            color: #EA3F3F;
        }
    }

    &__coin-head {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;

        img {
            width: 30px;
            height: 30px;
        }
    }

    &__value {
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    .dcg-h3 {
        font-size: 20px;
        margin: 0 0 0 10px;
    }

    .dcg-btn {
        display: none;
    }

    &:hover {
        z-index: 100;

        .dcg-btn {
            display: flex;
        }
    }

    &:hover &__wrapper {
        position: absolute;
        z-index: 100;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: coin-pair */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: coin-pair-info */
.dc-coin-pair-info {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: coin-pair-info */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: coin-pairs */
.dc-coin-pairs {
    .dcg-h2 {
    }

    .dc-coin-pairs__grid-column {
        
    }

    .dcg-section__head {
        margin-bottom: 70px;
    }

    .dcg-icon-arrow-right {
        margin-left: 11px;
        margin-bottom: 1px;
    }


    .dcg-btn_big {
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: coin-pairs */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: coins */
.dc-coins {
    .dcg-h2 {
    }

    .dcg-icon-arrow-right {
        margin-left: 7px;
    }

    &__list {
        justify-content: space-between;
        padding-top: 9px;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: coins */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: coin-widget */
.dc-coin-widget {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: coin-widget */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: contacts */
.dc-contacts {
    .dcg-h3 {
        color: #FFF;
        font-size: 20px;
    }

    .dcg-h3 ~ .dcg-h3 {
        padding-top: 5px;
    }

    a {
        color: #c0cee5;
        font-weight: 700;
        letter-spacing: -0.9px;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: contacts */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: copyright */
.dc-copyright {
    margin-top: 45px;
    letter-spacing: -0.5px;

    &__content {

    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: copyright */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: desc */
.dc-desc {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: desc */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: exchange-widget */
.dc-exchange-widget {
    height: 355px;
    width: 396px;
    margin-left: auto;

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: exchange-widget */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: faq */
.dc-faq {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: faq */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: footer */
.dc-footer {
    width: 100%;
    bottom: 0;
    background: #3665AC;
    color: #FFFFFF;
    letter-spacing: -0.4px; /* ??? */
    font-size: 15px;
    padding: 34px 0 60px 0;

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: footer */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: guide */
.dc-guide {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: guide */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: guide-list */
.dc-guide-list {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: guide-list */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: head */
.dc-head {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: head */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: header */
.dc-header {
    background: #3665AC;
    color: #FFFFFF;
    padding: 30px 0;
    position: fixed;
    width: 100%;
    z-index: 200;

    a {
        color: #FFFFFF;

        :hover {
            color: #0FD4E2;
        }
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: header */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: layout */
.dc-layout {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: layout */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: logo */
.dc-logo {

    img {
        width: 179px;
        height: 45px;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: logo */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: main-menu */
.dc-main-menu {
    letter-spacing: 0px;
    margin-left: 27px;

    &__nav {
        padding: 12px 0px 0 0;

        ul {
            flex-direction: row;
            width: 100%;
            justify-content: space-between;

            li {
                padding: 0 3px;

                a:hover{
                    color: #0FD4E2;
                }
            }
        }
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: main-menu */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: market-update */
.dc-market-update {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: market-update */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: news-list */
.dc-news-list {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: news-list */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: news-sketch */
.dc-news-sketch {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: news-sketch */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: page-head-coins */
.dc-page-head-coins {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: page-head-coins */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: page-head-main */
.dc-page-head-main {
    padding-top: 30px;

    &__advantages {
        margin-top: 39px;
        font-size: 20px;
        letter-spacing: 0.2px;

        li ~ li {
            margin-left: 20px;
        }
    }

    &__advantage {
        display: flex;
        line-height: 1.3;
    }

    &__done {
        background: white;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        text-align: center;
        margin-right: 12px;
        margin-top: 1px;

        svg {
            width: 14px;
            height: 14px;
            fill: green;
            margin-bottom: 8px;
        }
    }

    &__text {
        color: #FFF;
    }

    &__text-light {
        color: #CBCBCB;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: page-head-main */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: page-head-pair */
.dc-page-head-pair {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: page-head-pair */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: page-head-pairs */
.dc-page-head-pairs {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: page-head-pairs */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: pagination */
.dc-pagination {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: pagination */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: partners */
.dc-partners {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: partners */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: section-text-block */
.dc-section-text-block {
    margin-bottom: 24px;

    .dcg-h2 {
        text-align: start;
        padding: 0;
    }

    &__content {
        width: 680px;
        margin-left: auto;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: section-text-block */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: section-text-blocks */
.dc-section-text-blocks {
    padding: 30px 0;

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: section-text-blocks */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: service */
.dc-service {
    width: 360px;
    height: 275px;
    border-radius: 7px;
    padding: 8px 20px;

    .dcg-h3 {
        padding-top: 7px;
        padding-left: 17px;
        width: 175px;
    }

    &__head {
        display: flex;
        align-items: center;
        margin-bottom: 6px;

        img {
            width: 93px;
            height: 93px;
        }
    }

    &__content {
        margin-bottom: 15px;
    }

    &__details {

        svg {
            width: 18px;
            height: 15px;
            margin-left: 2px;
            margin-bottom: 4px;
        }
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: service */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: services */
.dc-services {

    .dcg-h2{

    } 

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: services */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: soc-icons */
.dc-soc-icons {
    .dcg-h3 {
        color: #FFF;
        font-size: 20px;
    }

    .dcg-h3 ~ .dcg-h3 {
        padding-top: 5px;
    }

    li {
        display: inline-block;
    }

    a {
        svg {
            color: #d6e0ee;
            width: 16px;
            margin-right: 16px;
            height: 16px;
            fill: #d6e0ee;
        }
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: soc-icons */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: table */
.dc-table {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: table */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: text-block */
.dc-text-block {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: text-block */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: text-blocks */
.dc-text-blocks {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: text-blocks */
// /*.....................................*/

/*.....................................*/
/* TEMPLATE: classes */
.dc-classes {
    // background: #e4e3e3;
    width: 1024px;
    margin: auto;
    section {
        text-align: center;
    }
    &__checkbox-wrapper {
        label {
            display: block;
        }
    }
    &__container {
        padding: 15px;
        text-align: center;
    }
    &__container-headline {
        text-align: center;
    }
    &__container-list {
        font-size: 20px;
    }
/*..................................... Buttons*/
.dcg-button {
    width: 150px;
    margin: 10px;
}
/*..................................... Inputs*/
.dcg-input {
    width: 200px;
    margin: 10px;
}
/*.....................................*/
    @include media-breakpoint-down (sm) {}
}
/* /TEMPLATE: classes */
/*.....................................*/

/*.....................................*/
/* TEMPLATE: _logo */
.dc-logo {}
/* /TEMPLATE: _logo */
/*.....................................*/

/*.....................................*/
/* TEMPLATE: _menu */
.dc-menu {

    display: flex;

    &__more {
        position: absolute;
        right: 5px;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        &::after {
            display: block;

        }
    }

    a {
        display: block;
        text-decoration: none;
        white-space: nowrap;

        transition-property: background, color;
    }

    li {
        position: relative;

        &:hover {
            .dc-menu__more {
                &::after {
                }
            }

            >a {
            }

            >ul {
                display: block;
            }
        }
    }

    >li {

        >a {
        }

        ul {
            position: absolute;
            display: none;
            min-width: 100px;

            >li:last-child>a {
            }
        }

        >ul {
            top: 100%;
            left: 0;

            ul {
                left: 100%;
                top: 0;
            }
        }

        &:hover {
            >.dc-menu__more {
                transform: rotate(180deg);
            }

            >a {
            }
        }
    }
}
/* /TEMPLATE: _menu */
/*.....................................*/
