@model CHomeVM
@inject CBlocksHelperVM BlocksHelper
@{
    List<string> partners = new() 
    { 
        "/pictures/defiprime-logo.png", 
        "/pictures/dappradar.png", 
        "/pictures/dapp-review.png",
        "/pictures/cryptowisser.png",
        "/pictures/defi-pulse.png",
        "/pictures/dapp.png",
        "/pictures/baking-bad.png",
        "/pictures/coinfunda.png",
        "/pictures/state-of-the-dapps.png",
        "/pictures/staking-rewards.png",
        "/pictures/leastauthority.png",
    };
}

@{
    ViewData["Title"] = Model.SeoInfo.title == "" ? "CriptoApi" : Model.SeoInfo.title;
    ViewData["Description"] = Model.SeoInfo.text == "" ? "" : Model.SeoInfo.text;
    ViewData["Page"] = "main";
}

<section class="dcg-section">
    <div class="container">
        <div class="row">
            <div class="col">
                @await Html.PartialAsync("_Services")
            </div>
        </div>
    </div>
</section>
<section class="dcg-section">
    <div class="container">
        <div class="row">
            <div class="col">
                @await Html.PartialAsync("_Coins", BlocksHelper.GetCoinList(16))
            </div>
        </div>
    </div>
</section>
<section class="dcg-section">
    <div class="container">
        <div class="row">
            <div class="col">
                @await Html.PartialAsync("_MarketUpdate", BlocksHelper.GetCoinList(10))
            </div>
        </div>
    </div>
</section>
<section class="dcg-section">
    <div class="container">
        <div class="row">
            <div class="col">
                @await Html.PartialAsync("_CoinPairs", BlocksHelper.GetPairList(9))
            </div>
        </div>
    </div>
</section>
<section class="dcg-section">
    <div class="container">
        <div class="row">
            <div class="col">
                @await Html.PartialAsync("_Advantages")
            </div>
        </div>
    </div>
</section>
<section class="dcg-section">
    <div class="container">
        <div class="row">
            <div class="col">
                @await Html.PartialAsync("_SectionTextBlock", ("Frequently Asked Questions", "_Faq", (object)(Model.Faq)))
            </div>
        </div>
    </div>
</section>
<section class="dcg-section dcg-section_gray">
    <div class="container">
        <div class="row">
            <div class="col">
                @await Html.PartialAsync("_Partners", partners)
            </div>
        </div>
    </div>
</section>
<section class="dcg-section">
    <div class="container">
        <div class="row">
            <div class="col">
                @await Html.PartialAsync("_NewsList")
            </div>
        </div>
    </div>
</section>

@section PageHead {
    @await Html.PartialAsync("_SubheaderMain", (Model.PageHead, ("BTC", "ETH")))
}