@model CHomeVM
@inject CBlocksHelperVM BlocksHelper
@{
    Dictionary<string, string> partners = new() 
    { 
        { "/pictures/defiprime-logo.png", "https://defiprime.com/product/atomex" },
        { "/pictures/dappradar.png", "https://dappradar.com/ethereum/exchanges/atomex" },
        { "/pictures/dapp-review.png", "https://dapp.review/dapp/12376/Atomex" },
        { "/pictures/cryptowisser.png", "https://www.cryptowisser.com/wallet/atomex/" },
        { "/pictures/defi-pulse.png", "https://www.defipulse.com/" },
        { "/pictures/dapp.png", "https://www.dapp.com/app/atomex" },
        { "/pictures/baking-bad.png", "https://baking-bad.org/" },
        { "/pictures/coinfunda.png", "https://coinfunda.com/best-tezos-wallets/" },
        { "/pictures/state-of-the-dapps.png", "https://www.stateofthedapps.com/dapps/atomex" },
        { "/pictures/staking-rewards.png", "https://www.stakingrewards.com/savings/atomex/" },
        { "/pictures/leastauthority.png", "https://leastauthority.com/blog/tag/atomex/" }
    };
}

@{
    ViewData["Title"] = Model.SeoInfo.title == "" ? "CriptoApi" : Model.SeoInfo.title;
    ViewData["Description"] = Model.SeoInfo.text == "" ? "" : Model.SeoInfo.text;
    ViewData["Page"] = "main";
}

<section class="dcg-section">
    <div class="container">
        <div class="row">
            <div class="col">
                @await Html.PartialAsync("_Services")
            </div>
        </div>
    </div>
</section>
<section class="dcg-section">
    <div class="container">
        <div class="row">
            <div class="col">
                @await Html.PartialAsync("_Coins", BlocksHelper.GetCoinList(16))
            </div>
        </div>
    </div>
</section>
<section class="dcg-section">
    <div class="container">
        <div class="row">
            <div class="col">
                @await Html.PartialAsync("_MarketUpdate", BlocksHelper.GetCoinList(10))
            </div>
        </div>
    </div>
</section>
<section class="dcg-section">
    <div class="container">
        <div class="row">
            <div class="col">
                @await Html.PartialAsync("_CoinPairs", BlocksHelper.GetPairList(9))
            </div>
        </div>
    </div>
</section>
<section class="dcg-section">
    <div class="container">
        <div class="row">
            <div class="col">
                @await Html.PartialAsync("_Advantages")
            </div>
        </div>
    </div>
</section>
<section class="dcg-section">
    <div class="container">
        <div class="row">
            <div class="col">
                @await Html.PartialAsync("_SectionTextBlock", ("Frequently Asked Questions", "_Faq", (object)(Model.Faq)))
            </div>
        </div>
    </div>
</section>
<section class="dcg-section dcg-section_gray">
    <div class="container">
        <div class="row">
            <div class="col">
                @await Html.PartialAsync("_Partners", partners)
            </div>
        </div>
    </div>
</section>
<section class="dcg-section">
    <div class="container">
        <div class="row">
            <div class="col">
                @await Html.PartialAsync("_NewsList")
            </div>
        </div>
    </div>
</section>

@section PageHead {
    @await Html.PartialAsync("_SubheaderMain", (Model.PageHead, ("BTC", "ETH")))
}